#about {
  .image-group-container {
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: $spacer * 2;

    grid-template:
      "left right-top" 1fr
      "left right-bottom" 1fr
      / minmax(150px,270px) minmax(150px,270px);

    .left {
      grid-area: left;
      justify-self: flex-end;
    }

    .right-top {
      grid-area: right-top;
    }

    .right-bottom {
      grid-area: right-bottom;
    }
    img {
      width: 100%;
      max-width: 270px;
      height: auto;
      border-radius: $border-radius * .5;
    }
  }
}
