.btn {
  white-space: nowrap;
  &.btn-primary {
    &:active {
      border-color: transparent;
      background-color: rgba($primary, 0.8);
    }
    &:focus {
      box-shadow: none;
    }
    &:focus-visible {
      border-color: transparent;
      background-color: rgba($primary, 0.6);
    }
  }
  &.btn-outline-primary {
    border-color: rgba($primary, 0.6);
    &:hover,
    &:focus {
      color: $primary;
      border-color: rgba($primary, 0.3);
      background-color: rgba($primary, 0.1);
      box-shadow: none;
    }
    &:focus-visible {
      background-color: rgba($primary, 0.2);
    }
    &:active {
      color: $primary-darken;
      background-color: rgba($primary, 0.4);
    }
  }

  &.btn-link.btn-link-underline {
    font-size: $base-font-size;
    border-radius: 0;

    color: $link-secondary-color;
    transition: color 0.3s ease-out;

    &:active {
      color: $primary-lighten !important;
    }

    &:focus-visible {
      border-bottom: 1px solid $primary;
      box-shadow: none;
    }
  }

  &.btn-with-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &.icon-append {
      i {
        transition: transform 0.3s cubic-bezier(0.64, -0.01, 0.29, 1.02);
      }

      &:hover,
      &:focus,
      &:focus-visible {
        i {
          transform: translateX(0.5rem);
        }
      }
    }
  }

  &.btn-primary.btn-sm {
    padding: $spacer * 0.5 $spacer * 1.5;
    border-radius: $border-radius * 0.5;
    font-family: $font-family-stack;
  }
}
