.card-group {
  &:hover .card:not(:hover) {
    box-shadow: none;
    a.btn-link {
      color: $link-secondary-color;
    }
  }
}
.card:not(.card-blend) {
  transition: all 0.3s ease-out;

  a.btn-link {
    color: $link-secondary-color;
    transition: color 0.3s ease-out;
  }

  &.active,
  &:hover {
    box-shadow: $box-shadow-lg;

    a.btn-link {
      color: $primary-color;
    }
  }
}

.card-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-text {
  line-height: $text-line-height;
  margin: $spacer * 2 0;
}

.card-figure {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 0;

  .figure__avatars {
    img {
      width: 2rem;
      height: 2rem;
    }
    &.stack {
      img:not(:first-child) {
        margin-left: -0.75rem;
        border-radius: 100%;
        box-shadow: $box-shadow;
      }
    }
  }
}
