.card-member-container {
  margin: $spacer * 2 0;
}

.card.card-member {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: $border-radius;
  background-color: $background-color;
  transition: all 0.3s ease-in-out;

  &.active {
    box-shadow: $box-shadow-lg;
  }

  &.active {
    transform: translateY(-0.75rem);
  }

  .card-member__info {
    display: flex;
    flex-direction: column;
    gap: $spacer * 0.25;

    padding-top: $spacer * 2;
    padding-bottom: $spacer;

    .card-member__name {
      font-size: 1.25rem;
      font-weight: 600;
    }

    .card-member__social {
      font-size: 0.9rem;
      font-weight: 400;
      color: $body-color-light;
    }
  }
}

.card-member__avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .avatar-border,
  .avatar-verify {
    pointer-events: none;
    margin: auto;
    position: absolute;
    z-index: 10;
  }
  .avatar-verify {
    bottom: 0;
    margin-bottom: -0.5rem;
  }
}
