footer {
  @include flex-center;

  width: 100%;
  min-height: $footer-height;
  background: $footer-background-color;
}

.footer__nav {
  @include flex-center;
  flex-grow: 1;
  text-decoration: none;

  .nav-link {
    color: $btn-color;
    transition: opacity 0.3s ease-out;
    &:hover {
      opacity: 0.6;
    }
    &:focus-visible {
      box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
    }
  }

  &--social {
    @include flex-center;

    .social-icon {
      color: $btn-color;
    }

    // Effect for dimmed others when mouse over one of the icon
    &:hover .nav-item {
      opacity: 0.6;
    }

    .nav-item {
      transition: opacity 0.3s ease-out;
      &:hover {
        opacity: 1;
      }
    }

    .nav-link {
      padding: $social-padding-gap;

      &:focus-visible {
        box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
      }
    }
  }
}
