footer {
  @include flex-center;
  
  width: 100%;
  min-height: $footer-height;
  background: $footer-background-color;
}

.footer__nav {
  @include flex-center;
  flex-grow: 1;
  text-decoration: none;

  a.nav-link {
    color: $btn-color;
    transition:opacity .3s ease-out;
    &:hover{
      opacity:.6;
    }
  }

  &--social {
    @include flex-center;

    .nav-link {
      padding: $social-padding-gap;
    }

    &:hover .nav-item {
      opacity: 0.6;
    }

    .nav-item {
      transition: opacity 0.3s ease-out;
      &:hover {
        opacity: 1;
      }
    }

    .social-icon {
      color: $btn-color;
    }
  }
}
