.input-group-filled {
  .input-group-text {
    @include input-style-filled();
    padding-right:0.3rem;
    svg{
      color:$icon-primary-color;
    }
  }

  input.text-filled {
    @include input-style-filled();
    width:7.5rem;
    padding-left:0.3rem;

    &::placeholder {
      color: $placeholder-primary-color;
      font-size:$placeholder-font-size;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
