$navItemGap: $spacer * 2;

.navbar__container {
  display: flex;
  justify-content: space-between;
}

.navbar__left {
  display: flex;
  flex-direction: row;
}

.navbar__right {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: $spacer * 4;
}

ul.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: $navItemGap;
}

.navbar-nav .nav-link {
  font-size: var(--bs-nav-link-font-size);
  font-weight: 400;
  color: $link-primary-color;
  transition: color 0.3s;

  &:hover:not(.active){
    color: $primary-color;
  }
}

.navbar-nav .nav-link.active {
  font-weight: 600;
}

.padding-top-spacer{
  padding-top:$header-height;
}

.dropdown-toggle::after {
  content: url("../../dist/assets/icons/icon-dropdown.svg");
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 10px 5px 0 10px;
}