.navbar {
  // Base
  .padding-top-spacer {
    padding-top: $header-height;
  }

  .btn {
    padding-top: $spacer * 0.9;
    padding-bottom: $spacer * 0.9;
  }

  .navbar__brand{
    &:focus-visible {
      @include focus-visible-shadow;
    }
  }

  // Layout
  .navbar__container {
    display: flex;
    justify-content: space-between;
  }

  .navbar__left {
    display: flex;
    flex-direction: row;
  }

  .navbar__right {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: $spacer * 4;
  }

  // Nav Menu List
  ul.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: $spacer * 2;

    .nav-link {
      font-size: $nav-link-font-size;
      font-weight: 400;
      color: $link-primary-color;
      transition: color 0.3s;

      &:hover:not(.active) {
        color: $primary;
      }

      &.active {
        font-weight: 600;
      }

      &:focus-visible {
        @include focus-visible-shadow;
      }
    }
  }
}
