section#intro {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}

.badge.badge--heading {
  padding: $spacer $spacer * 3;
  font-weight: 500;
  background: rgba($primary-color, .1);
  color: $primary-color;
}
