<footer>
  <div class="container d-flex flex-column flex-md-row align-items-center row-gap-4 py-4 py-md-3">
    <img src="assets/images/logo-white.svg" alt="Netbook" class="logo" />

    <ul class="nav footer__nav column-gap-3 column-gap-lg-5 c">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Members</a>
      </li>
    </ul>

    <ul class="nav footer__nav--social">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img
            inline
            src="assets/icon/icon-social-twitter.svg"
            class="social-icon"
            alt="Twitter Icon"
          />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><img
            inline
            src="assets/icon/icon-social-instagram.svg"
            class="social-icon"
            alt="Instagram Icon"
        /></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><img
            inline
            src="assets/icon/icon-social-facebook.svg"
            class="social-icon"
            alt="Facebook Icon"
        /></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><img
            inline
            src="assets/icon/icon-social-linkedin.svg"
            class="social-icon"
            alt="Linkedin Icon"
        /></a>
      </li>
    </ul>
  </div>
</footer>
