<header class="floating">
  <nav class="navbar navbar-expand-lg w-100">
    <div class="container navbar__container">
      <div class="navbar__left">
        <a class="navbar__brand" href="#">
          <img src="assets/images/logo.svg" alt="Netbook" class="logo" />
        </a>
        <!-- Navbar -->
        <div class="collapse navbar-collapse ms-5" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Community
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="#">Friends & Family</a>
                </li>
                <li><a class="dropdown-item" href="#">Countries</a></li>
                <li>
                  <a class="dropdown-item" href="#">Planets</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar__right">
        <div class="input-group input-group-filled">
          <span class="input-group-text" id="search-input">
            <svg
              alt="Search Icon"
              width="16"
              height="16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.438 9.375a3.938 3.938 0 100-7.875 3.938 3.938 0 000 7.875zM8.223 8.222L10.5 10.5"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Search Here..."
            aria-label="SearchHere"
            aria-describedby="search-input"
          />
        </div>
        <button class="btn btn-primary btn-lg btn-shadow-lg btn-bd-primary">
          Log in
        </button>
      </div>
    </div>
  </nav>
</header>