<section id="about">
  <div class="container padding-top-spacer container-padding">
    <div class="row">
      <article class="col-12 col-xl-6">
        <h3 class="sub-heading text-primary">Whats Netbooks?</h3>
        <h2 class="display-2 my-4 text-max-width">Why Join to Netbook Social Network?</h2>
        <p class="text-secondary text-max-width my-4 mb-md-5">
          Recent surveys have indicated that small businesses recognise the need they have to connect with consumer.
        </p>
        <ul class="list-blue-bullet">
          <li>Groups</li>
          <li>Messages</li>
          <li>Share</li>
        </ul>
      </article>
      <div class="col-12 col-xl-6 image-group-container about-images">
        <img
          src="assets/images/about-0@2x.jpg"
          alt="Netbook Group"
          class="left pointer-events-none"
        />
        <img
          src="assets/images/about-1@2x.jpg"
          alt="Netbook Message"
          class="right-top pointer-events-none"
        />
        <img
          src="assets/images/about-2@2x.jpg"
          alt="Netbook Share"
          class="right-bottom pointer-events-none"
        />
      </div>
    </div>
  </div>
</section>