<section id="achievement">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col">
        <div class="card shadow-lg">
          <div class="card-body">
            <h5 class="card-title">
              <img src="assets/icon/icon-star.svg" alt="Star icon" />
              <span>4.8 Rating</span>
            </h5>
            <div class="card-figure">
              <div class="figure__avatars stack">
                <img
                  src="assets/images/avatar-0@2x.png"
                  alt="Member Avatar of Netbook"
                />
                <img
                  src="assets/images/avatar-1@2x.png"
                  alt="Member Avatar of Netbook"
                />
                <img
                  src="assets/images/avatar-2@2x.png"
                  alt="Member Avatar of Netbook"
                />
              </div>
              <div class="figure__details text-muted">
                <span class="text-primary">+836k</span> Members
              </div>
            </div>
            <p class="card-text">
              More than 2 billion we people over countries use socibooks
              we to stay in touch with friends.
            </p>
            <a
              href="#"
              class="btn btn-link text-decoration-none btn-with-icon ps-0"
            >
              <span>Join Our Community</span>
              <i class="bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-border-gradient">
          <div class="card-body">
            <h5 class="card-title">
              <img src="assets/icon/icon-prize.svg" alt="Prize icon" />
              <span>Awwwards</span>
            </h5>
            <div class="card-figure">
              <div class="figure__badges">
                <img
                  src="assets/images/badge-github.png"
                  alt="Github Icon"
                />
              </div>
              <div class="figure__details text-muted">
                Best of <span class="text-primary">2021</span> on Github
              </div>
            </div>
            <p class="card-text">
              More than 2 billion we people over countries use socibooks
              we to stay in touch with friends.
            </p>
            <a
              href="#"
              class="btn btn-link text-secondary text-decoration-none btn-with-icon ps-0"
              >Go To Awards
              <i class="bi-arrow-right text-sm"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-heading text-primary">Our Achievement</h5>
            <h4 class="card-title">
              We are Connecting You The Digital Life.
            </h4>
            <p class="card-text">
              The scope the Social Media becomes crucial Is helps the
              business to directly engage with their needs and wants.
            </p>
            <div class="card-cta">
              <a
                href="#"
                class="btn btn-primary btn-lg btn-shadow-lg btn-bd-primary btn-with-icon"
                >Discover me
                <i class="bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>