<section id="achievement">
  <div class="container container-padding">
    <div class="row d-flex align-items-center row-gap-3 card-group">
      <div class="order-1 order-xl-3 col-12 col-xl-4 mb-5 mb-lg-0">
        <div id="card-achievement" class="card card-plain border-0">
          <article class="card-body p-2 p-sm-2 p-xl-4">
            <div class="heading-group d-flex flex-column align-items-start">
              <h2 class="order-2 card-title display-2">
                We are Connecting You The Digital Life.
              </h2>
              <h3 class="order-1 sub-heading card-heading text-primary">
                Our Achievement
              </h3>
            </div>
            <p class="text-secondary card-text mt-4 mb-5">
              The scope the Social Media becomes crucial Is helps the business
              to directly engage with their needs and wants.
            </p>
            <div class="card-cta">
              <a
                href="#"
                class="btn btn-primary shadow btn-with-icon icon-append"
                >Discover me
                <i class="bi-arrow-right"></i>
              </a>
            </div>
          </article>
        </div>
      </div>
      <div class="order-2 order-xl-1 col-12 col-lg-6 col-xl-4">
        <div id="card-rating" class="card active">
          <article class="card-body">
            <div class="card-icon-heading">
              <div class="icon--primary">
                <%= require("../../components/icon-star.ejs")() %>
              </div>
              <h5 class="card-title">4.8 Rating</h5>
            </div>
            <div class="card-figure">
              <div class="figure__avatars stack">
                <img
                  src="assets/images/avatar-0@2x.png"
                  alt="Member Avatar of Netbook"
                />
                <img
                  src="assets/images/avatar-1@2x.png"
                  alt="Member Avatar of Netbook"
                />
                <img
                  src="assets/images/avatar-2@2x.png"
                  alt="Member Avatar of Netbook"
                />
              </div>
              <div class="figure__details text-muted">
                <span class="text-primary"
                  >+<span id="memberCount">0</span>k</span
                >
                Members
              </div>
            </div>
            <p class="card-text text-secondary">
              More than 2 billion we people over countries use socibooks we to
              stay in touch with friends.
            </p>
            <a
              href="#"
              class="btn btn-link btn-link-underline text-decoration-none btn-with-icon icon-append ps-0"
            >
              <span>Join Our Community</span>
              <i class="bi-arrow-right"></i>
            </a>
          </article>
        </div>
      </div>
      <div class="order-3 order-xl-2 col-12 col-lg-6 col-xl-4">
        <div id="card-award" class="card card-border-gradient">
          <article class="card-body">
            <div class="card-icon-heading">
              <div class="icon--primary">
                <%= require("../../components/icon-prize.ejs")() %>
              </div>
              <h5 class="card-title">Awwwards</h5>
            </div>
            <div class="card-figure">
              <div class="figure__badges">
                <img src="assets/images/badge-github.png" aria-hidden="true" />
              </div>
              <div class="figure__details text-muted">
                Best of <span class="text-primary">2021</span> on Github
              </div>
            </div>
            <p class="card-text text-secondary">
              More than 2 billion we people over countries use socibooks we to
              stay in touch with friends.
            </p>
            <a
              href="#"
              class="btn btn-link btn-link-underline text-decoration-none btn-with-icon icon-append ps-0"
              >Go To Awards
              <i class="bi-arrow-right text-sm"></i>
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
