<section id="intro">
  <div class="container padding-top-spacer container-padding">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <article>
          <h2 class="badge badge--heading">Netbook community</h2>
          <h1 class="display-1 my-4">Your Solutions For Community!</h1>
          <p class="lead text-max-width my-4 mb-5">
            More than 2 billion people in over countries use socibook to stay in
            touch with friends & family.
          </p>
          <div class="d-flex flex-wrap gap-3">
            <button class="btn btn-primary shadow">About More</button>
            <button class="btn btn-outline-primary">Invite Friend</button>
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <%= require("../../components/intro-image.ejs")() %>
      </div>
    </div>
  </div>
</section>
