<section id="intro">
  <div class="container padding-top-spacer">
    <div class="row">
      <div class="col-lg-6">
        <span class="badge badge--heading">Netbook community</span>
        <h1 class="display-1 my-4">Your Solutions For Community!</h1>
        <p class="lead text-max-width my-4 mb-5">
          More than 2 billion people in over countries use socibook to stay in
          touch with friends & family.
        </p>
        <button class="btn btn-primary btn-lg btn-shadow-lg btn-bd-primary">
          About More
        </button>
        <button class="btn btn-outline-primary btn-lg btn-bd-outline-primary">
          Invite Friend
        </button>
      </div>
      <div class="col-lg-6">
        <img
          src="assets/images/hero-image.svg"
          alt="Welcome to Netbook"
          class="img-fluid pointer-events-none"
        />
      </div>
    </div>
  </div>
</section>
