<section id="intro">
  <div class="container padding-top-spacer container-padding">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <article>
          <div class="heading-group d-flex flex-column align-items-start">
            <h1 class="order-2 display-1 my-2 my-md-4">
              Your Solutions For Community!
            </h1>
            <h2 class="order-1 badge badge--heading">Netbook community</h2>
          </div>
          <p class="lead text-max-width my-3 mb-4 my-sm-4 mb-sm-5">
            More than 2 billion people in over countries use socibook to stay in
            touch with friends & family.
          </p>
          <div class="intro-cta-container d-flex flex-wrap gap-3">
            <a href="#" class="btn btn-primary shadow">About More</a>
            <a href="#" class="btn btn-outline-primary">Invite Friend</a>
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <%= require("../../components/intro-image.ejs")() %>
      </div>
    </div>
  </div>
</section>
