<section id="members">
  <div class="container text-center">
    <h5 class="heading text-primary">Valuable Team</h5>
    <h2>Our Active Members</h2>
    <p class="lead text-max-width mx-auto">
      when an unknown printer took a galley of type and meeting fari
      scrambled it.
    </p>
    <ul class="tab-container nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">Newest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
    </ul>
    <div class="card-member-container">
      <div class="row">
        <div class="col">
          <div class="card card-member active" data-tag="active">
            <div class="card-body">
              <div class="card-member__avatar">
                <img
                  src="assets/images/member-0.png"
                  alt="Member Avatar"
                  class="avatar-photo"
                />
                <img
                  src="assets/images/avatar-border.svg"
                  alt="Member Avatar Border"
                  class="avatar-border"
                />
                <img
                  src="assets/icon/icon-verified.svg"
                  alt="Verified Member Badge"
                  class="avatar-verify"
                />
              </div>
              <div class="card-member__info">
                <div class="card-member__name">Fahim Rahman</div>
                <div class="card-member__social">@rahman</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-member" data-tag="newest">
            <div class="card-body">
              <div class="card-member__avatar">
                <img
                  src="assets/images/member-1.png"
                  alt="Member Avatar"
                  class="avatar-photo"
                />
                <img
                  src="assets/images/avatar-border.svg"
                  alt="Member Avatar Border"
                  class="avatar-border"
                />
                <img
                  src="assets/icon/icon-verified.svg"
                  alt="Verified Member Badge"
                  class="avatar-verify"
                />
              </div>
              <div class="card-member__info">
                <div class="card-member__name">Kazi Rahman</div>
                <div class="card-member__social">@Rahman</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-member" data-tag="newest">
            <div class="card-body">
              <div class="card-member__avatar">
                <img
                  src="assets/images/member-2.png"
                  alt="Member Avatar"
                  class="avatar-photo"
                />
                <img
                  src="assets/images/avatar-border.svg"
                  alt="Member Avatar Border"
                  class="avatar-border"
                />
                <img
                  src="assets/icon/icon-verified.svg"
                  alt="Verified Member Badge"
                  class="avatar-verify"
                />
              </div>
              <div class="card-member__info">
                <div class="card-member__name">Masterero Ali</div>
                <div class="card-member__social">@Master</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-member" data-tag="popular">
            <div class="card-body">
              <div class="card-member__avatar">
                <img
                  src="assets/images/member-3.png"
                  alt="Member Avatar"
                  class="avatar-photo"
                />
                <img
                  src="assets/images/avatar-border.svg"
                  alt="Member Avatar Border"
                  class="avatar-border"
                />
                <img
                  src="assets/icon/icon-verified.svg"
                  alt="Verified Member Badge"
                  class="avatar-verify"
                />
              </div>
              <div class="card-member__info">
                <div class="card-member__name">Alia Karon</div>
                <div class="card-member__social">@Alia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>