<section id="members">
  <div class="container text-center px-4 px-md-2">
    <article>
      <h3 class="sub-heading text-primary">Valuable Team</h4>
      <h2 class="display-2">Our Active Members</h2>
      <p class="section-text text-secondary text-max-width mx-auto mt-3">
        when an unknown printer took a galley of type and meeting fari scrambled
        it.
      </p>
    </article>

    <!-- Tab Menu with 3 buttons -->
    <%= require("../../components/tab-menu.ejs")() %>

    <div id="members-cards" class="card-member-container">
      <div class="row gx-3 gx-md-4 gy-3 gy-md-4 justify-content-center">
        <div class="col-6 col-lg-auto">
          <div class="card card-member active" data-tag="active">
            <div class="card-body pt-4 pb-2">
              <div class="card-member__avatar">
                <img
                  src="assets/images/member-0.png"
                  alt="Member Avatar"
                  class="avatar-photo"
                />
                <img
                  src="assets/images/avatar-border.svg"
                  alt="Member Avatar Border"
                  class="avatar-border"
                />
                <img
                  src="assets/icons/icon-verified.svg"
                  alt="Verified Member Badge"
                  class="avatar-verify"
                />
              </div>
              <div class="card-member__info">
                <div class="card-member__name">Fahim Rahman</div>
                <div class="card-member__social">@rahman</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-auto">
          <div class="card card-member" data-tag="active,newest">
            <div class="card-body  pt-4 pb-2">
              <div class="card-member__avatar">
                <img
                  src="assets/images/member-1.png"
                  alt="Member Avatar"
                  class="avatar-photo"
                />
                <img
                  src="assets/images/avatar-border.svg"
                  alt="Member Avatar Border"
                  class="avatar-border"
                />
                <img
                  src="assets/icons/icon-verified.svg"
                  alt="Verified Member Badge"
                  class="avatar-verify"
                />
              </div>
              <div class="card-member__info">
                <div class="card-member__name">Kazi Rahman</div>
                <div class="card-member__social">@Rahman</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-auto">
          <div class="card card-member" data-tag="active,newest">
            <div class="card-body  pt-4 pb-2">
              <div class="card-member__avatar">
                <img
                  src="assets/images/member-2.png"
                  alt="Member Avatar"
                  class="avatar-photo"
                />
                <img
                  src="assets/images/avatar-border.svg"
                  alt="Member Avatar Border"
                  class="avatar-border"
                />
                <img
                  src="assets/icons/icon-verified.svg"
                  alt="Verified Member Badge"
                  class="avatar-verify"
                />
              </div>
              <div class="card-member__info">
                <div class="card-member__name">Masterero Ali</div>
                <div class="card-member__social">@Master</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-auto">
          <div class="card card-member" data-tag="active,popular">
            <div class="card-body  pt-4 pb-2">
              <div class="card-member__avatar">
                <img
                  src="assets/images/member-3.png"
                  alt="Member Avatar"
                  class="avatar-photo"
                />
                <img
                  src="assets/images/avatar-border.svg"
                  alt="Member Avatar Border"
                  class="avatar-border"
                />
                <img
                  src="assets/icons/icon-verified.svg"
                  alt="Verified Member Badge"
                  class="avatar-verify"
                />
              </div>
              <div class="card-member__info">
                <div class="card-member__name">Alia Karon</div>
                <div class="card-member__social">@Alia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
