<svg
  id="netbook-community"
  width="597"
  height="551"
  viewBox="0 0 597 551"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="intro-image-title"
>
  <title id="intro-image-title" lang="en">Illustration of a group of people engaging in conversation</title>
  <path
    opacity="0.7"
    d="M97.418 172.868L310.879 508.463L525.193 172.868H97.418Z"
    stroke="#2B2B39"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-dasharray="3 3"
  />
  <circle cx="494.635" cy="179.633" r="96.4193" fill="white" />
  <circle
    cx="494.635"
    cy="179.633"
    r="95.4193"
    stroke="#FFAF2E"
    stroke-opacity="0.6"
    stroke-width="2"
  />
  <mask
    id="mask0_2_2"
    style="mask-type: alpha"
    maskUnits="userSpaceOnUse"
    x="319"
    y="49"
    width="278"
    height="272"
  >
    <path
      d="M591.055 179.633C591.055 126.382 547.887 49.0003 494.636 49.0003C445.163 49.0003 404.393 115.79 398.857 167.969C349.732 161.749 283.914 137.644 343.787 182.743C367.538 200.634 382.155 226.547 410.671 227.065C427.229 256.313 458.627 276.052 494.636 276.052C521.135 276.052 545.137 265.362 562.566 248.06L557.991 291.235C557.991 374.435 613.847 259.257 591.055 179.633Z"
      fill="#C4C4C4"
    />
  </mask>
  <g class="people yellow" mask="url(#mask0_2_2)">
    <path
      d="M490.097 127.502C464.151 148.199 466.796 192.2 465.229 216.151C464.128 232.906 460.68 256.918 458.49 270.659L507.103 277.817V193.576C507.103 165.496 509.057 130.986 516.717 123.552C511.382 122.961 506.67 123.113 503.441 123.552C500.88 123.532 497.673 123.964 494.163 125.384C492.619 126.3 491.484 126.71 490.097 127.502Z"
      fill="white"
    />
    <path
      opacity="0.5"
      d="M490.097 127.501C464.151 148.198 466.796 192.2 465.229 216.15C464.128 232.905 460.68 256.917 458.49 270.658C476.977 277.461 485.079 279.082 507.103 277.816V193.576C507.103 171.869 508.271 146.319 512.342 132.406C507.962 139.427 501.891 173.316 502.817 193.576C503.744 213.836 503.126 253.304 497.258 264.295C491.383 275.286 461.107 267.042 463.887 258.494C466.667 249.945 466.667 222.163 469.138 190.107C471.115 164.462 483.936 137.684 490.097 127.501Z"
      fill="#FFB83B"
    />
    <path
      d="M497.26 264.295C491.385 275.286 461.109 267.043 463.889 258.495C470.993 269.485 487.987 266.127 490.767 261.853C493.547 257.579 497.877 246.893 497.877 228.881C497.877 214.47 501.584 186.851 503.437 174.843C502.831 181.552 502.567 188.068 502.819 193.576C503.746 213.836 503.128 253.305 497.26 264.295Z"
      fill="#FFF9EF"
    />
    <path
      d="M469.137 190.108C470.687 170.07 478.847 149.339 485.283 136.375C481.65 144.211 474.456 164.463 474.703 182.781C474.95 201.098 469.424 223.996 466.627 233.155C467.284 221.127 467.902 206.153 469.137 190.108Z"
      fill="#FFF9EF"
    />
    <path
      d="M453.689 303.984L442.873 302.458C444.524 291.158 455.975 235.962 460.721 199.633C461.754 191.707 462.827 183.415 463.916 174.856C468.123 141.706 482.685 131.933 494.159 125.384C468.213 146.081 466.792 192.2 465.225 216.151C464.124 232.906 460.676 256.917 458.486 270.659C458.171 272.631 453.942 302.487 453.689 303.984Z"
      fill="#FFAF2E"
    />
    <path
      d="M460.721 199.633C461.754 191.707 462.827 183.415 463.916 174.856C463.596 185.232 462.827 202.281 460.721 219.721C456.761 252.525 452.454 282.308 442.873 302.457C444.524 291.158 455.975 235.962 460.721 199.633Z"
      fill="#F3A00D"
    />
    <path
      d="M557.502 303.068C552.251 280.171 544.523 190.108 544.523 190.108C544.523 190.108 550.752 158.327 540.508 142.786C533.96 132.846 516.718 123.552 516.718 123.552C509.058 130.986 507.103 165.496 507.103 193.576V277.816V307.037C520.425 309.785 542.67 311.006 557.502 303.068Z"
      fill="#FFAF2E"
    />
    <path
      d="M510.995 137.901C508.007 152.407 507.103 174.479 507.103 193.576V265.516C508.401 254.933 510.72 227.171 509.614 200.793C508.507 174.415 510.074 147.874 510.995 137.901Z"
      fill="#F9A319"
    />
    <path
      d="M557.502 303.068C552.251 280.171 544.523 190.108 544.523 190.108C544.523 190.108 550.752 158.326 540.508 142.786C540.508 159.272 532.477 181.559 537.11 203.846C543.344 233.817 548.539 261.242 542.67 282.002C537.975 298.611 516.999 305.612 507.103 307.037C520.425 309.784 542.67 311.006 557.502 303.068Z"
      fill="#F9A319"
    />
    <path
      d="M591.793 213.311C593.646 194.382 575.113 166.6 554.103 145.839C544.758 136.606 525.68 125.69 516.716 123.553L544.522 190.108C544.522 190.108 553.159 199.633 564.15 216.151C567.553 208.718 581.908 203.846 591.793 213.311Z"
      fill="#FFAF2E"
    />
    <path
      d="M591.794 213.31C593.647 194.381 575.108 166.599 554.104 145.839C549.224 141.019 541.692 135.739 534.33 131.49C536.7 135.561 541.805 144.862 543.287 149.502C545.141 155.304 584.998 178.491 581.6 208.265C585.122 208.768 588.677 210.327 591.794 213.31Z"
      fill="#F9A319"
    />
    <path
      d="M560.844 208.262C561.428 202.498 566.92 199.136 570.812 198.175C579.562 196.014 588.307 198.656 592.681 205.14C596.5 210.795 592.199 219.07 588.307 222.192C589.037 211.384 584.909 207.542 575.912 208.983C566.92 210.424 564.247 215.948 563.764 220.751C561.574 219.07 560.114 215.467 560.844 208.262Z"
      fill="#F9A319"
    />
    <path
      d="M575.911 208.983C566.919 210.424 564.246 215.948 563.757 220.751C564.572 230.758 566.043 254.279 565.459 268.305C564.734 285.837 563.757 291.841 560.601 299.526C557.439 307.212 561.618 315.195 567.694 313.754C573.771 312.312 578.73 305.29 577.275 299.526C575.815 293.763 577.275 287.998 579.701 283.915C582.133 279.832 588.305 244.768 588.305 222.193C589.035 211.385 584.902 207.542 575.911 208.983Z"
      fill="#FFD0B7"
    />
    <path
      d="M463.919 174.856C468.126 141.706 482.688 131.933 494.162 125.384C484.57 130.491 462.942 136.375 447.166 164.12C433.766 187.685 423.584 193.891 419.4 194.992C424.455 199.672 433.21 213.745 432.373 222.774C437.815 218.81 453.411 205.506 460.723 199.633C461.757 191.707 462.83 183.415 463.919 174.856Z"
      fill="#FFAF2E"
    />
    <path
      d="M460.722 199.633C461.755 191.707 462.828 183.415 463.917 174.856C460.935 189.83 449.675 198.656 443.497 200.793C438.549 202.502 433.573 211.886 431.709 216.363C432.287 218.638 432.551 220.824 432.371 222.775C437.813 218.81 453.409 205.506 460.722 199.633Z"
      fill="#F9A319"
    />
    <path
      d="M427.629 209.666C424.17 198.978 419.093 195.654 416.925 195.298C417.65 194.585 419.57 192.939 421.951 192.298C424.922 191.496 433.307 192.298 437.093 198.444C440.299 203.648 443.854 212.071 437.093 220.355C431.684 226.981 420.059 226.322 414.92 225.164C420.598 224.452 430.746 219.286 427.629 209.666Z"
      fill="#F9A319"
    />
    <path
      d="M414.919 225.164C420.597 224.452 430.745 219.286 427.628 209.666C425.14 201.98 421.871 196.519 416.924 195.297C415.755 195.728 413.458 196.68 404.372 192.832C393.016 188.023 355.97 171.188 353.265 168.784C350.561 166.379 344.613 158.096 336.23 158.363C327.848 158.63 330.822 173.861 340.827 176.533C350.832 179.205 359.215 186.419 364.082 191.764C368.949 197.108 395.178 223.027 414.919 225.164Z"
      fill="#FFD0B7"
    />
    <path
      d="M493.902 125.396V108.822L516.715 97.9073V123.552C506.544 142.287 492.976 137.519 493.902 125.396Z"
      fill="#FFD0B7"
    />
    <path
      d="M496.425 107.616L516.716 97.9074V123.552C516.699 123.59 516.677 123.626 516.66 123.663C515.638 125.529 514.588 127.16 513.515 128.571C509.741 122.956 499.761 114.242 493.903 109.89V109.029L496.425 107.616Z"
      fill="url(#paint0_linear_2_2)"
    />
    <path
      d="M482.58 67.0429C482.58 76.7704 487.516 77.9536 491.15 77.4402L513.367 101.315C513.626 101.829 516.114 103.945 516.114 108.94C516.114 114.005 520.146 103.493 523.134 101.315C529.323 96.8074 533.529 96.6737 535.489 89.2388C537.174 82.8567 534.798 78.3387 532.85 77.4402C531.682 76.9269 530.435 75.823 528.565 75.515C526.694 75.2065 526.223 72.0493 526.223 70.5087C526.093 69.3538 525.588 67.7472 522.606 65.8875C520.753 64.7326 515.962 64.2187 514.142 65.8875C512.974 66.5296 510.323 67.1972 509.077 64.7326C507.83 62.268 505.179 63.192 504.011 63.9618C500.585 65.1938 492.638 61.5749 489.549 52.1105C485.843 56.9953 482.58 60.3534 482.58 67.0429Z"
      fill="#2B2B39"
    />
    <path
      d="M532.851 77.4404C531.683 76.9265 530.436 75.8227 528.566 75.5147C538.203 82.6016 530.436 93.9562 524.258 97.0085C519.316 99.4504 516.772 105.98 516.115 108.94C516.115 114.005 520.147 103.493 523.135 101.315C529.324 96.8071 533.53 96.6733 535.49 89.239C537.175 82.8569 534.8 78.3383 532.851 77.4404Z"
      fill="#13131C"
    />
    <path
      d="M504.013 63.9618C500.587 65.1938 492.641 61.5743 489.552 52.1105C489.608 57.8033 492.416 68.76 503.199 67.043C504.884 66.4852 506.849 65.3753 509.096 67.5952C511.342 69.815 517.026 64.7321 522.608 65.8875C520.755 64.7321 515.964 64.2182 514.145 65.8875C512.977 66.5291 510.326 67.1967 509.079 64.7321C507.832 62.2675 505.187 63.1915 504.013 63.9618Z"
      fill="#13131C"
    />
    <path
      d="M502.458 109.787C511.5 107.015 515.055 100.674 515.707 97.8499C515.971 96.6944 516.616 93.4856 516.487 92.0738C515.549 89.3012 512.719 93.2287 511.421 95.5396C509.686 98.6202 509.372 87.8377 511.421 85.1423C514.224 81.4451 509.86 80.4661 507.911 79.3662C507.002 78.8523 504.486 77.9799 501.678 78.5959C498.869 79.2119 497.392 77.5686 496.999 76.6701C495.96 75.0019 493.259 72.6655 490.765 76.6701C484.84 85.6045 485.958 97.3365 487.261 102.086C488.558 105.808 493.416 112.56 502.458 109.787Z"
      fill="#FFD0B7"
    />
  </g>
  <g filter="url(#filter0_d_2_2)">
    <circle cx="108.659" cy="173.022" r="97.659" fill="white" />
    <circle
      cx="108.659"
      cy="173.022"
      r="96.659"
      stroke="#217BF4"
      stroke-opacity="0.6"
      stroke-width="2"
    />
  </g>
  <mask
    id="mask1_2_2"
    style="mask-type: alpha"
    maskUnits="userSpaceOnUse"
    x="11"
    y="49"
    width="220"
    height="246"
  >
    <path
      d="M11 173.45C11 119.514 54.7234 49.0869 108.659 49.0869C238.668 45.4247 235.056 158.445 227.681 215.412H196.868C181.172 248.348 147.574 271.109 108.659 271.109C95.7082 271.109 83.3462 268.588 72.0369 264.01C71.269 263.699 70.506 263.379 69.748 263.049C67.2048 269.296 62.271 283.774 62.8813 291.708C50.674 301.627 20.7536 282.4 23.2006 220.753C15.4267 206.739 11 190.611 11 173.45Z"
      fill="#C4C4C4"
    />
  </mask>
  <g mask="url(#mask1_2_2)">
    <path
      d="M220.623 193.067C214.65 194.878 207.24 197.437 201.742 196.102C197.335 195.031 197.666 193.639 197.168 190.719C198.565 188.35 204.469 183.795 215.899 181.471C230.185 178.567 231.128 189.881 220.623 193.067Z"
      fill="#FEBE9D"
    />
    <path
      d="M155.666 150.386C153.906 146.112 149.068 145.4 146.869 145.578C130.845 151.989 140.585 198.198 144.355 204.342C148.125 210.485 152.524 212.889 156.923 214.759C161.321 216.628 170.119 215.56 172.318 214.225C174.518 212.889 175.146 211.553 177.659 211.286C180.173 211.019 184.258 210.218 185.828 208.615C187.399 207.013 188.656 205.41 192.427 205.41C196.197 205.41 199.339 202.739 200.595 201.137C201.852 199.534 202.795 199.267 204.994 198.732C207.194 198.198 209.393 198.198 210.021 195.527C210.65 192.856 210.964 187.514 210.65 184.843C210.335 182.172 210.335 182.172 208.764 182.439C207.194 182.706 203.109 184.843 201.852 184.843C200.595 184.843 198.396 184.576 196.197 185.377C193.997 186.179 186.771 189.117 182.058 190.452C177.345 191.788 170.433 192.055 171.061 190.185C171.69 188.316 173.889 182.973 169.49 182.973C165.092 182.973 165.092 180.035 163.207 173.892C161.321 167.748 157.865 155.728 155.666 150.386Z"
      fill="#217BF4"
    />
    <path
      d="M202.168 196.597C203.529 196.508 206.629 195.956 208.137 194.46M203.424 187.783C204.367 186.981 206.818 185.378 209.08 185.378L203.424 187.783ZM205.624 189.118L208.137 188.05L205.624 189.118ZM202.482 192.858C203.948 192.679 207.257 192.003 208.766 190.721L202.482 192.858Z"
      stroke="#2068D9"
      stroke-width="1.07894"
    />
    <path
      d="M203.02 199.286C202.446 197.156 201.874 193.831 202.481 191.254C201.852 193.123 200.03 197.504 197.768 200.068C194.94 203.273 191.484 203.006 190.856 200.335C190.227 197.664 186.457 199.267 185.2 202.472C183.944 205.677 181.116 209.684 176.403 209.951C171.988 210.201 169.779 211.154 168.484 211.713C168.397 211.751 168.313 211.787 168.234 211.821C166.977 212.355 167.291 210.218 168.548 208.883C169.805 207.547 171.376 204.075 171.061 202.205C169.491 205.143 166.349 209.15 161.322 210.485C156.294 211.821 153.467 208.616 157.237 205.677C161.007 202.739 163.835 200.068 164.777 197.664C165.134 196.755 164.637 197.068 163.644 197.693C162.01 198.721 159.031 200.596 156.294 199.267C151.896 197.13 152.524 190.987 155.98 189.918C157.084 189.577 158.734 189.481 160.509 189.377C164.289 189.158 168.635 188.905 169.491 186.179C167.606 187.247 156.609 188.85 156.294 182.172C155.98 175.494 155.352 170.954 153.781 167.214C153.259 165.972 153.014 164.347 152.76 162.652C152.247 159.244 151.691 155.553 148.754 154.126C147.915 153.719 144.447 153.874 139.709 154.696C134.829 170.33 141.412 199.546 144.355 204.342C148.125 210.486 152.524 212.89 156.923 214.759C161.321 216.629 170.119 215.561 172.318 214.225C173.037 213.789 173.589 213.352 174.092 212.953C175.13 212.131 175.968 211.467 177.659 211.287C180.173 211.02 184.258 210.218 185.828 208.616C185.941 208.501 186.052 208.386 186.163 208.271C187.593 206.791 188.927 205.411 192.427 205.411C196.197 205.411 199.339 202.74 200.595 201.137C201.396 200.116 202.069 199.637 203.02 199.286Z"
      fill="#1771EA"
    />
    <path
      d="M147.4 208.417C148.962 206.682 151.614 204.243 154.095 203.54C157.866 202.472 155.98 201.938 152.838 203.006C149.697 204.074 149.068 203.273 148.754 199.8C148.44 196.328 149.697 190.185 151.582 185.911C153.467 181.637 155.98 168.282 150.639 163.207C148.182 160.873 143 161.138 138.149 163.535C136.936 179.448 141.906 200.35 144.355 204.341C145.332 205.932 146.35 207.272 147.4 208.417Z"
      fill="#2068D9"
    />
    <path
      d="M199.967 196.864C202.732 193.659 202.376 187.871 201.852 185.378C202.69 187.516 203.863 192.537 201.852 195.529C199.339 199.268 199.339 197.665 199.967 196.864Z"
      fill="#3881F2"
    />
    <path
      d="M124.249 274.056C133.549 270.424 145.928 272.186 150.955 273.522C151.583 273.682 152.212 273.522 153.468 269.783C154.725 266.043 153.783 256.695 153.468 255.893C153.154 255.092 153.154 254.558 153.468 253.223C155.039 244.408 149.07 223.307 146.556 211.554C144.043 199.802 147.499 188.85 150.955 180.837C154.411 172.824 151.583 162.407 150.641 151.723C149.698 141.038 139.016 140.237 124.563 137.299C110.11 134.361 91.5725 134.361 83.4035 151.99C75.2344 169.619 82.7749 192.59 83.4035 205.678C84.0316 218.766 77.748 229.984 73.6633 241.47C69.579 252.955 70.5216 261.503 69.2646 268.981C68.2591 274.965 70.3118 277.529 71.4641 278.063C71.5688 279.399 71.7782 282.978 71.7782 286.61C71.7782 291.151 73.6633 293.555 78.3762 293.288C83.089 293.021 90.6299 290.35 97.2279 286.076C103.826 281.803 112.623 278.597 124.249 274.056Z"
      fill="#217BF4"
    />
    <path
      d="M124.563 223.574C116.017 229.984 105.502 228.737 101.313 227.313C101.313 228.47 103.324 231.373 111.367 233.724C121.421 236.662 128.333 229.984 131.161 224.642C133.423 220.368 138.387 214.314 140.587 211.821C138.806 213.067 133.109 217.163 124.563 223.574Z"
      fill="#3881F2"
    />
    <path
      d="M150.955 273.522C145.928 272.186 133.549 270.423 124.248 274.056C122.973 274.554 121.73 275.037 120.521 275.506C110.718 279.313 103.102 282.272 97.2279 286.076C90.6299 290.35 83.089 293.021 78.3762 293.288C73.6633 293.555 71.7782 291.151 71.7782 286.61C71.7782 282.978 71.5688 279.399 71.4641 278.063C70.3118 277.529 68.2591 274.964 69.2646 268.981C69.6678 266.584 69.8445 264.075 70.0336 261.396C70.4336 255.719 70.8886 249.273 73.6633 241.469C74.6083 238.812 75.6711 236.169 76.7386 233.515C80.2856 224.693 83.8863 215.738 83.4035 205.677C83.2367 202.208 82.5847 198.045 81.8678 193.47C79.8812 180.787 77.3998 164.946 83.4035 151.989C83.5065 151.767 83.6112 151.547 83.7175 151.331C96.0684 141.49 108.317 137.3 118.585 136.314C120.628 136.566 122.632 136.906 124.563 137.299C126.11 137.613 127.613 137.903 129.067 138.184C134.694 139.269 139.564 140.208 143.252 141.857C143.884 142.465 144.361 143.088 144.671 143.708C149.07 152.523 139.958 162.673 132.732 167.748C125.505 172.822 127.076 174.959 135.245 172.822C142.486 170.928 141.334 171.552 132.446 176.368C131.307 176.986 130.04 177.672 128.647 178.431C116.394 185.109 130.218 182.437 140.272 180.3C150.326 178.163 148.441 183.238 146.242 185.375C145.321 186.27 144.289 186.79 143.379 187.25C142.115 187.887 141.084 188.407 140.901 189.649C140.586 191.786 138.387 194.189 135.559 195.258C135.336 195.343 135.109 195.427 134.878 195.512C132.196 196.508 129.127 197.648 127.39 200.6C125.505 203.805 120.792 204.339 115.137 204.072C109.481 203.805 101.941 205.941 108.853 211.55C115.765 217.16 125.505 213.153 130.532 211.016C118.907 223.303 102.255 214.221 99.113 209.948C95.9713 205.674 94.4002 204.339 90.3155 205.407C86.2312 206.475 84.9745 211.549 88.7448 212.618C90.4154 213.091 92.1477 212.883 93.5591 212.713C95.3328 212.5 96.5994 212.347 96.5994 213.686C96.5994 215.721 91.6469 219.287 87.2677 222.44C86.4732 223.012 85.6978 223.57 84.9745 224.104C80.2613 227.576 85.6026 230.514 89.0589 231.582C92.5151 232.651 91.5725 233.986 85.9171 239.329C78.0621 247.076 93.1436 254.287 106.968 246.007C118.028 239.382 127.704 238.795 131.161 239.329C127.181 240.309 117.525 243.817 110.738 250.013C105.018 255.237 97.4408 256.695 90.7036 257.991C87.4492 258.618 84.3906 259.206 81.8324 260.164C73.9774 263.101 78.0621 268.978 84.6601 269.245C88.1796 269.387 94.3807 266.034 101.499 262.185C107.727 258.817 114.656 255.071 121.107 252.952C134.931 248.411 144.357 251.883 149.384 253.754C141.215 253.22 118.279 259.897 106.34 266.575C100.565 269.805 96.2599 271.035 92.5011 272.109C88.4885 273.256 85.0975 274.225 81.2039 277.259C73.6633 283.135 83.7175 287.142 90.944 286.074C94.1725 285.596 98.7174 282.987 103.907 280.007C110.334 276.317 117.75 272.059 124.877 270.581C134.41 268.605 146.471 270.743 152.453 272.343C151.818 273.59 151.386 273.631 150.955 273.522Z"
      fill="#1771EA"
    />
    <path
      d="M82.997 201.197C84.297 199.624 86.1698 197.235 87.1736 195.528C88.7443 192.858 89.6869 191.789 91.8865 193.659C94.0856 195.528 97.5419 195.262 99.427 193.125C99.39 193.272 99.353 193.417 99.3163 193.561C98.4219 197.069 97.8014 199.504 104.14 198.734C106.458 198.452 109.784 198.83 113.001 199.196C118.942 199.87 124.512 200.503 122.677 196.864C119.849 191.255 117.964 177.633 123.62 172.825C128.144 168.979 131.998 163.565 133.36 161.339C135.873 156.264 135.622 146.382 114.508 147.45C106.127 147.874 96.9858 146.116 88.4322 144.418C86.5005 146.475 84.8001 148.974 83.403 151.989C77.3993 164.946 79.8811 180.787 81.8677 193.47C82.2976 196.214 82.7044 198.81 82.997 201.197Z"
      fill="#2068D9"
    />
    <path
      d="M138.701 263.638C145.237 263.852 146.661 259.809 146.556 257.762C146.556 256.159 148.441 256.159 147.499 263.104C146.556 270.049 135.245 266.309 125.505 267.11C115.765 267.912 101.941 274.056 98.4847 275.925C115.451 263.371 130.532 263.371 138.701 263.638Z"
      fill="#3881F2"
    />
    <path
      d="M145.925 254.824C146.658 257.584 147.999 264.547 147.496 270.316M76.4886 279.665C76.4886 281.623 76.6772 286.342 77.4311 289.548L76.4886 279.665ZM84.0295 276.192C84.7623 278.596 86.1658 283.938 85.9146 286.075L84.0295 276.192ZM89.0564 273.521C89.5802 275.391 90.6275 280.573 90.6275 286.342L89.0564 273.521ZM95.3403 274.055V281V274.055ZM100.367 270.316C100.996 271.919 102.064 275.872 101.31 278.863L100.367 270.316ZM105.394 267.378C105.918 269.159 106.966 273.415 106.966 276.192L105.394 267.378ZM111.678 265.775V272.72V265.775ZM117.648 262.303C118.172 264.618 118.905 270.102 117.648 273.521V262.303ZM122.047 260.967C122.78 262.481 124.12 266.309 123.618 269.514L122.047 260.967ZM129.587 259.632C129.587 261.947 129.587 266.79 129.587 267.645V259.632ZM133.672 257.495C133.986 259.632 134.614 264.814 134.614 268.446L133.672 257.495ZM142.155 260.7C142.26 262.837 142.281 267.592 141.527 269.514L142.155 260.7Z"
      stroke="#2068D9"
      stroke-width="1.07894"
    />
    <path
      d="M79.6331 274.858C100.16 265.51 143.54 247.721 151.583 254.559"
      stroke="#3881F2"
      stroke-width="1.07894"
    />
    <path
      d="M69.2646 268.981C68.2591 274.964 70.3118 277.528 71.4641 278.062C71.5139 278.699 71.5879 279.847 71.6512 281.267C74.5215 278.952 80.8898 274.002 83.4035 272.72C78.6906 274.056 72.4668 276.727 71.6512 270.85C70.8356 264.974 73.9774 258.831 75.8625 255.626C77.7481 252.42 80.0026 242.804 77.6187 231.319C76.2645 234.716 74.8682 238.081 73.6633 241.469C69.579 252.954 70.5216 261.502 69.2646 268.981Z"
      fill="#2068D9"
    />
    <path
      d="M46.3215 282.414C46.751 276.186 47.8432 268.612 51.0458 263.947C53.6124 260.208 54.7958 261.012 57.7023 261.585C59.4203 263.732 62.3837 270.904 60.4938 282.414C58.1318 296.801 45.5664 293.365 46.3215 282.414Z"
      fill="#FEBE9D"
    />
    <path
      d="M44.7566 273.522C45.2593 272.454 45.5945 270.94 45.6992 270.317C46.6417 263.372 45.6992 256.695 45.6992 245.209C45.6992 233.724 48.5273 221.704 51.0405 217.43C53.5541 213.157 52.9256 209.417 54.1826 207.281C55.4393 205.144 59.2095 202.74 57.9529 195.528C56.6959 188.316 61.0947 187.515 61.4091 178.433C61.7232 169.352 63.6083 157.866 69.5782 149.853C75.5476 141.84 97.5411 136.498 99.7407 151.723C101.94 166.947 93.7708 177.098 90.3146 183.775C86.8588 190.453 82.46 204.876 81.8315 208.616C81.203 212.355 78.3753 223.04 78.3753 227.58C78.3753 232.121 77.1187 240.401 75.2336 247.613C73.3484 254.825 69.2637 263.639 68.0071 264.441C66.7505 265.242 66.1219 265.776 66.1219 267.112C66.1219 268.447 65.4934 272.988 65.1794 274.591C64.8649 276.193 64.5509 276.727 63.6083 276.193C62.6657 275.659 61.0947 275.659 58.267 275.659C55.4393 275.659 50.7264 276.193 47.8987 275.926C45.071 275.659 44.1285 274.858 44.7566 273.522Z"
      fill="#217BF4"
    />
    <path
      d="M57.0115 266.312C50.9792 267.594 47.7952 266.489 46.9573 265.777C48.7378 266.312 52.9694 266.745 56.383 265.777C59.2107 264.975 63.1907 265.065 64.552 265.51C63.086 265.51 59.5251 265.67 57.0115 266.312Z"
      fill="#3881F2"
    />
    <path
      d="M61.4103 266.844C61.0962 267.912 60.7193 270.316 61.7247 271.385C62.7302 272.453 61.9341 273.433 61.4103 273.789M50.4136 269.248C50.6229 270.049 50.7905 272.079 49.7854 273.789L50.4136 269.248ZM54.8123 267.378L54.4983 273.254L54.8123 267.378Z"
      stroke="#2068D9"
      stroke-width="1.07894"
    />
    <path
      d="M61.4275 275.711C62.245 274.273 63.1761 272.043 62.981 270.049C62.6666 266.844 58.2678 265.776 55.7545 266.31C58.8963 264.975 65.8087 262.037 67.6939 255.359C69.579 248.682 68.9505 244.675 62.981 244.141C61.724 244.141 60.4674 243.874 64.8662 240.668C69.2646 237.463 76.177 231.32 69.579 227.58C62.981 223.841 58.5823 220.903 57.6397 216.896C60.7814 219.033 64.5517 221.437 66.1228 221.704C67.4817 221.935 67.43 221.766 66.7815 219.643C66.68 219.311 66.5642 218.931 66.4368 218.499C65.4943 215.293 63.2951 207.28 63.2951 204.876C64.2377 207.815 65.8087 212.355 69.893 214.225C73.9778 216.095 75.2344 211.02 74.6059 207.547C73.9778 204.075 73.6633 201.404 77.748 198.466C81.8324 195.528 88.4303 185.111 83.7175 180.57C79.0047 176.029 70.5216 167.749 70.8356 161.338C71.08 156.354 70.5646 154.761 68.2559 151.788C68.6727 151.124 69.1133 150.478 69.579 149.853C73.8452 144.126 86.2952 139.764 93.8556 143.297C94.5626 143.724 95.2627 144.156 95.9553 144.594C97.891 146.144 99.2702 148.461 99.7415 151.723C101.573 164.398 96.2168 173.556 92.3773 180.121C91.6051 181.441 90.8942 182.657 90.3155 183.775C86.8596 190.453 82.4609 204.876 81.8324 208.616C81.6381 209.773 81.2325 211.596 80.7656 213.697C79.7243 218.381 78.3761 224.445 78.3761 227.58C78.3761 232.121 77.1195 240.401 75.2344 247.613C73.3493 254.825 69.2645 263.639 68.0079 264.441C66.7513 265.242 66.1228 265.776 66.1228 267.112C66.1228 268.447 65.4943 272.988 65.1802 274.591C64.8662 276.193 64.5517 276.727 63.6091 276.193C63.0993 275.904 62.4051 275.772 61.4275 275.711Z"
      fill="#1771EA"
    />
    <path
      d="M85.0865 197.076C83.4414 202.068 82.1517 206.717 81.8329 208.615C81.6383 209.772 81.2331 211.595 80.7662 213.696C79.7249 218.38 78.3767 224.444 78.3767 227.579C78.3767 228.997 78.2545 230.778 78.0284 232.778C76.363 229.512 73.6866 225.916 70.2077 225.177C64.7684 224.02 68.0395 224.065 70.4433 224.098C70.8167 224.103 71.1689 224.108 71.4647 224.108C73.6639 224.108 74.6064 223.039 72.0928 221.703C70.0823 220.635 67.0659 214.847 65.8089 212.087C67.1706 214.847 71.1502 220.367 76.1775 220.367C77.7482 220.367 79.0052 219.032 78.0627 216.361C77.2252 213.988 79.8602 203.812 85.0865 197.076Z"
      fill="#2068D9"
    />
    <path
      d="M101.676 133.08L103.861 120.657L119.427 123.898C119.063 125.518 119.099 130.542 119.973 136.591C120.847 142.641 123.432 145.864 124.889 146.854L101.676 133.08Z"
      fill="#FEBE9D"
    />
    <path
      d="M103.996 120.657L119.245 123.888C118.978 125.099 118.931 128.214 119.284 132.238C108.4 130.945 104.557 123.978 103.996 120.657Z"
      fill="#F2AD8A"
    />
    <path
      d="M95.3311 174.912C94.7591 171.189 97.334 170.391 99.6227 169.327C101.02 168.678 102.737 167.831 103.342 166.18C107.359 167.753 111.375 168.149 117.648 167.341C117.934 171.105 118.563 179.805 118.792 184.485C119.078 190.336 121.081 199.643 114.5 196.452C107.92 193.261 105.917 192.995 102.77 193.793C99.6227 194.591 97.334 193.793 97.0478 188.74C96.7616 183.687 95.9034 175.975 95.3311 174.912Z"
      fill="#8CB9FF"
    />
    <path
      d="M102.219 193.941C101.343 192.063 100.021 187.827 100.44 182.911C101.008 176.254 102.711 170.929 104.698 175.988C106.287 180.035 106.685 184.774 106.685 186.638C107.821 186.017 110.148 183.39 110.375 177.851C110.659 170.928 110.943 171.194 111.795 175.188C112.646 179.182 112.93 179.715 113.782 175.188C113.896 174.584 113.989 174.036 114.074 173.54C114.613 170.385 114.797 169.303 117.582 168.826C117.542 168.275 117.505 167.776 117.472 167.342C111.249 168.151 107.264 167.755 103.279 166.18C102.678 167.833 100.975 168.681 99.5884 169.331C99.3993 169.42 99.2079 169.507 99.0168 169.594C96.9136 170.55 94.8099 171.506 95.3305 174.923C95.8981 175.988 96.7496 183.71 97.0338 188.769C97.3025 193.558 99.352 194.529 102.219 193.941Z"
      fill="#7EAEFA"
    />
    <path
      opacity="0.5"
      d="M95.8891 177.346C96.9662 175.085 98.8513 171.972 100.736 171.444C103.582 170.648 104.151 170.117 105.004 169.321C105.858 168.524 106.711 169.055 106.996 170.117C107.28 171.179 108.134 170.117 108.987 169.056C109.841 167.994 111.548 168.79 111.833 169.587C111.934 169.871 112.29 169.681 112.9 169.356C113.847 168.852 115.408 168.02 117.582 168.131C117.561 167.848 117.541 167.583 117.523 167.339C111.285 168.145 107.291 167.751 103.297 166.18C102.695 167.827 100.988 168.673 99.5985 169.322C99.409 169.41 99.2171 169.497 99.0257 169.583C96.9172 170.536 94.8092 171.489 95.3306 174.896C95.4994 175.211 95.6928 176.108 95.8891 177.346Z"
      fill="#70A2F2"
    />
    <path
      d="M116.066 127.957C105.698 126.674 97.4055 117.77 94.6479 113.672C89.133 115.009 88.03 114.205 87.7541 110.463C87.4783 106.721 94.6479 104.849 96.0267 98.7013C97.4055 92.5531 102.093 81.0592 115.329 75.7127C128.565 70.3666 139.87 87.7419 140.146 93.0885C140.422 98.4346 139.598 111.155 136.286 118.483C132.779 126.239 129.026 129.561 116.066 127.957Z"
      fill="#FEBE9D"
    />
    <path
      d="M95.1761 113.14C89.6926 114.473 88.4045 114.508 88.1303 110.778C82.9211 111.844 71.6803 115.728 68.3901 122.734C64.2775 131.492 68.3901 132.891 71.1318 134.223C73.8736 135.555 72.5027 139.285 68.9386 139.818C65.3745 140.351 65.1003 137.686 64.826 136.088C63.1809 143.281 68.9386 143.281 71.4061 142.215C69.761 146.478 70.3095 149.675 74.1478 150.741C77.9861 151.806 74.1478 155.803 74.1478 159.532C74.1478 163.262 78.2604 165.393 78.5346 168.058C78.8089 170.722 82.0987 172.054 85.3885 173.119C88.6788 174.185 87.3079 175.517 85.9371 177.915C84.5662 180.312 86.7594 182.177 87.0337 185.374C87.3079 188.571 89.5011 188.838 92.2429 189.371C89.5011 184.842 91.1463 183.243 92.7914 181.911L92.8427 181.87C94.4647 180.557 95.8014 179.474 95.2588 175.784C94.7103 172.054 97.1778 171.255 99.3714 170.189C101.565 169.123 104.581 167.525 102.387 162.729C100.194 157.934 107.048 154.737 108.693 149.941C110.338 145.146 106.5 139.285 104.854 137.153C103.21 135.022 101.565 131.825 101.016 130.493C100.468 129.161 101.016 129.161 101.29 129.427C102.661 130.76 102.936 129.694 103.21 128.362C103.429 127.296 103.667 124.166 103.758 122.734C99.5768 119.765 96.6759 115.375 95.1761 113.14Z"
      fill="#2B2B39"
    />
    <path
      d="M118.953 131.559V128.112C125.77 128.595 129.661 127.343 132.442 124.632C138.099 131.292 133.091 137.154 132.269 138.486C130.624 136.354 127.334 135.555 126.511 135.555C125.689 135.555 124.866 135.821 124.044 134.49C123.221 133.157 122.947 131.559 121.302 130.493C119.986 129.641 119.188 130.849 118.953 131.559Z"
      fill="#2B2B39"
    />
    <path
      d="M87.7503 125.38C89.4089 126.594 92.2581 130.013 90.3845 133.969"
      stroke="#151523"
      stroke-width="0.8"
    />
    <path
      d="M95.1752 128.386C98.717 131.114 104.975 137.89 101.669 143.169C97.5364 149.769 96.6508 152.145 96.6508 157.16"
      stroke="#151523"
      stroke-width="0.8"
    />
    <path
      d="M88.2103 161.026C90.1014 160.232 93.2603 156.95 90.7638 150.175C88.2668 143.399 91.4257 139.411 93.3168 138.265"
      stroke="#151523"
      stroke-width="0.8"
    />
    <path
      d="M78.6957 140.841C76.4177 143.039 73.2286 147.911 78.6957 149.811C85.5297 152.185 87.17 154.559 84.9832 159.308"
      stroke="#151523"
      stroke-width="0.8"
    />
    <path
      d="M77.5315 154.154C78.2325 154.974 79.2133 157.324 77.5315 160.166"
      stroke="#151523"
      stroke-width="0.8"
    />
    <path
      d="M73.9746 125.012C73.0321 125.902 71.7754 128.324 74.2887 130.888C77.4308 134.094 77.1168 135.963 75.5457 138.1"
      stroke="#151523"
      stroke-width="0.8"
    />
    <path
      opacity="0.5"
      d="M80.3056 113.971C79.0729 115.625 77.8557 117.483 76.9091 119.351C76.0119 121.121 75.3512 122.912 75.1569 124.553C74.9627 126.195 75.2322 127.714 76.2348 128.907C76.4737 129.191 76.7069 129.466 76.9334 129.732C77.8358 130.793 78.6287 131.726 79.1999 132.611C79.9104 133.713 80.2475 134.7 80.0306 135.716C79.8121 136.736 79.0232 137.839 77.339 139.147C76.1429 140.077 74.5089 141.099 72.3404 142.258C72.2246 142.528 72.1187 142.794 72.0236 143.055C74.5364 141.742 76.4116 140.591 77.7629 139.542C79.496 138.196 80.3956 136.995 80.6488 135.811C80.9027 134.623 80.4939 133.507 79.7512 132.355C79.1593 131.437 78.3357 130.469 77.431 129.405L77.4306 129.404C77.2069 129.141 76.978 128.872 76.7463 128.597C75.8639 127.547 75.5968 126.174 75.7823 124.607C75.9678 123.04 76.6026 121.305 77.4863 119.562C78.5598 117.445 79.99 115.334 81.3911 113.527C81.0289 113.67 80.6667 113.818 80.3056 113.971Z"
      fill="#1C1C2A"
    />
    <path
      opacity="0.5"
      d="M97.1952 116.293C96.6511 118.107 96.2371 120.558 96.3928 123.18C96.5926 126.544 97.733 130.208 100.763 133.161C104.462 136.765 105.769 139.311 105.769 141.512C105.769 143.722 104.456 145.663 102.659 148.087C100.85 150.527 99.7845 152.931 99.9262 155.826C100.049 158.347 101.086 161.209 103.281 164.764C103.171 164.153 102.954 163.473 102.607 162.713C102.492 162.462 102.402 162.215 102.335 161.972C101.14 159.603 100.563 157.596 100.476 155.8C100.342 153.069 101.339 150.783 103.105 148.401C104.883 146.002 106.319 143.923 106.319 141.512C106.319 139.09 104.876 136.411 101.151 132.782C98.2413 129.946 97.1359 126.42 96.9417 123.149C96.7996 120.754 97.1467 118.505 97.6247 116.783C97.4775 116.617 97.3341 116.454 97.1952 116.293Z"
      fill="#1C1C2A"
    />
    <path
      opacity="0.5"
      d="M91.7214 189.37C91.178 188.741 90.6618 188.005 90.2593 187.187C89.3661 185.371 89.0378 183.158 90.2044 180.781C91.5801 177.978 91.0761 175.483 90.6124 173.187C90.5503 172.88 90.489 172.577 90.4333 172.277C90.1937 170.994 90.0476 169.772 90.3031 168.547C90.5571 167.331 91.2123 166.089 92.6209 164.782C94.1164 163.394 94.6772 161.958 94.7895 160.467C94.8834 159.218 94.6605 157.928 94.4352 156.624C94.3958 156.396 94.356 156.167 94.3182 155.938C94.0615 154.385 93.8712 152.793 94.2091 151.113C94.5459 149.439 95.4116 147.66 97.3039 145.75L97.3115 145.742L97.3186 145.734C98.6314 144.171 98.8316 142.059 98.1239 139.922C97.4353 137.842 95.8837 135.716 93.6129 133.973C94.2641 132.731 94.7071 129.763 92.3941 125.87C90.8891 123.336 89.9529 121.104 89.8529 118.958C89.7801 117.398 90.1487 115.865 91.0925 114.279C90.8787 114.27 90.6813 114.248 90.499 114.213C89.595 115.808 89.2284 117.375 89.3036 118.983C89.4095 121.258 90.3987 123.581 91.9184 126.138C94.2593 130.079 93.6208 132.922 93.0536 133.852C91.3305 134.98 88.9498 137.135 87.3166 140C85.7435 142.759 84.8583 146.189 85.9414 149.986C85.8498 149.947 85.7559 149.909 85.6604 149.871C81.9852 148.412 80.7318 146.732 80.606 145.142C80.4774 143.514 81.51 141.845 82.7447 140.375C83.9898 138.892 85.6011 136.646 86.2694 134.178C86.9425 131.692 86.6583 128.972 84.0957 126.613C82.1934 124.863 81.701 122.608 81.871 120.472C82.0414 118.33 82.8768 116.333 83.5933 115.155L83.1201 114.882C82.3697 116.116 81.5008 118.191 81.3225 120.43C81.1442 122.675 81.66 125.109 83.7179 127.003C86.105 129.2 86.3705 131.704 85.7376 134.041C85.0995 136.396 83.5487 138.571 82.3188 140.036C81.0789 141.512 79.9114 143.327 80.0579 145.183C80.2072 147.075 81.7034 148.879 85.453 150.367C85.7412 150.482 86.0098 150.599 86.2598 150.72C87.6144 151.371 88.4068 152.096 88.8208 152.842C89.2324 153.583 89.2865 154.377 89.1022 155.202C88.7273 156.879 87.3859 158.625 86.1643 160.163L86.0099 160.357C85.7746 160.652 85.5469 160.939 85.3367 161.212C84.0801 162.845 83.4922 164.243 83.5288 165.666C83.5559 166.726 83.9285 167.771 84.5781 168.909C83.6873 168.247 82.7937 167.517 82.0605 166.684C81.0152 165.496 80.3138 164.12 80.4078 162.459C80.452 161.676 80.6733 160.82 81.1302 159.88C81.7532 158.599 82.195 157.451 82.3733 156.445C82.5516 155.436 82.4692 154.543 82.0115 153.8C81.5537 153.056 80.7481 152.506 79.5767 152.126C78.5744 151.8 77.2867 151.592 75.677 151.497C75.7988 151.666 75.8812 151.851 75.9314 152.051C77.3759 152.151 78.5191 152.347 79.4027 152.634C80.4997 152.99 81.1724 153.479 81.5398 154.075C81.9068 154.671 81.9964 155.42 81.8312 156.353C81.6656 157.29 81.2481 158.386 80.6335 159.65C80.1546 160.636 79.9118 161.551 79.8601 162.405C79.5715 163.572 79.1424 165.439 78.7842 167.285C78.7428 167.498 78.7022 167.711 78.6628 167.923C78.6707 167.973 78.6771 168.022 78.6819 168.071C78.7233 168.473 78.8323 168.844 78.9991 169.189C79.0942 168.61 79.2049 168 79.3243 167.384C79.5452 166.247 79.7932 165.101 80.0181 164.118C80.2967 165.222 80.8974 166.185 81.6433 167.033C82.7419 168.281 84.1741 169.299 85.3949 170.164L85.7853 169.799C84.6943 168.204 84.1108 166.916 84.0785 165.653C84.0463 164.397 84.5582 163.117 85.7766 161.534C85.865 161.419 85.9565 161.301 86.0508 161.182C86.017 162.111 86.0445 163.322 86.2049 164.61C86.4222 166.357 86.8871 168.268 87.7927 169.812C88.6043 171.196 88.2839 172.83 87.4838 174.368C87.483 174.369 87.4822 174.371 87.481 174.372C87.6406 174.69 87.6267 175.039 87.5013 175.428C87.6697 175.163 87.8289 174.889 87.9742 174.61C88.8057 173.012 89.2189 171.163 88.2703 169.546C87.4161 168.089 86.9639 166.258 86.7506 164.546C86.5436 162.883 86.5643 161.353 86.6479 160.429C87.84 158.927 89.2388 157.109 89.6396 155.316C89.8454 154.395 89.7917 153.465 89.3044 152.587C88.8316 151.735 87.9666 150.961 86.6081 150.29C85.3678 146.48 86.2152 143.036 87.7975 140.26C89.3462 137.544 91.5932 135.48 93.2451 134.373C95.4598 136.065 96.9481 138.116 97.6005 140.087C98.2664 142.098 98.0566 144.002 96.9003 145.386C94.9479 147.359 94.0284 149.227 93.6694 151.01C93.3115 152.788 93.5165 154.461 93.7753 156.023C93.8147 156.26 93.8549 156.494 93.8947 156.725C94.12 158.032 94.3297 159.249 94.241 160.428C94.1383 161.792 93.6336 163.103 92.2416 164.394C90.7629 165.766 90.0432 167.103 89.7642 168.441C89.4868 169.77 89.6504 171.077 89.892 172.373C89.9497 172.682 90.0114 172.99 90.0735 173.298C90.5356 175.6 91.0005 177.916 89.7085 180.549C88.4554 183.102 88.8141 185.489 89.7634 187.419C90.0806 188.064 90.4643 188.66 90.8771 189.196C91.1494 189.257 91.4312 189.313 91.7214 189.37Z"
      fill="#1C1C2A"
    />
    <path
      d="M68.7118 122.865C71.4324 121.032 74.3182 119.657 75.0371 121.204C76.4031 124.145 79.1349 122.274 79.9545 120.135C80.7741 117.997 81.0471 118.531 82.4132 121.739C82.9979 123.112 83.3824 122.428 83.9099 121.489C84.614 120.235 85.5729 118.529 87.6037 120.669C89.3153 122.472 90.9003 120.675 92.3886 118.987C93.9883 117.172 95.477 115.484 96.8924 118.531C97.8127 120.512 98.485 122.644 99.1179 124.653C99.7381 126.62 100.32 128.467 101.062 129.937C100.914 129.232 101.315 129.273 101.536 129.49C102.902 130.827 103.176 129.757 103.449 128.421C103.668 127.352 103.904 124.211 103.995 122.775C99.8288 119.795 96.6691 115.383 95.1745 113.14C89.7105 114.478 88.6967 114.521 88.4233 110.778C83.2328 111.848 72.0318 115.744 68.7535 122.775C68.7396 122.804 68.7257 122.835 68.7118 122.865Z"
      fill="#1C1C2A"
    />
    <path
      d="M100.982 130.525C100.433 129.189 100.982 129.189 101.256 129.456C101.877 130.06 102.273 130.173 102.545 129.99C104.402 131.772 108.663 135.763 110.858 137.473C113.053 139.183 118.723 141.036 121.284 141.748C120.357 139.878 118.59 135.228 118.934 131.594C119.168 130.881 119.967 129.669 121.284 130.525C122.93 131.594 123.204 133.197 124.027 134.533C124.851 135.869 125.673 135.602 126.497 135.602C127.32 135.602 130.612 136.404 132.258 138.542C132.715 138.898 134.014 139.718 135.55 140.145C137.471 140.68 139.94 143.352 139.117 146.024C138.294 148.697 135.002 151.369 133.356 154.309C131.709 157.248 129.24 166.067 120.735 167.671C119.253 167.95 117.888 168.175 116.62 168.346C110.605 169.159 106.754 168.761 102.902 167.18C103.272 166.121 103.208 164.734 102.353 162.86C100.158 158.05 107.017 154.843 108.663 150.033C110.31 145.223 106.469 139.343 104.822 137.206C103.176 135.068 101.53 131.861 100.982 130.525Z"
      fill="#8CB9FF"
    />
    <path
      d="M113.281 138.692C114.838 140.857 117.872 143.88 121.652 144.238C127.265 144.771 128.067 139.713 127.533 137.317C125.127 139.181 120.85 140.778 121.117 137.051C121.154 136.532 121.197 136.039 121.237 135.57C121.427 133.355 121.573 131.666 120.915 130.278C119.752 129.674 119.043 130.791 118.827 131.463C118.492 135.082 120.214 139.714 121.117 141.577C119.29 141.057 115.838 139.929 113.281 138.692Z"
      fill="#7EAEFA"
    />
    <path
      d="M110.901 167.721C110.105 167.516 109.322 167.272 108.539 166.992C108.963 165.934 108.89 164.547 107.911 162.674C106.371 159.73 108.721 157.386 111.207 154.907C112.779 153.339 114.406 151.717 115.137 149.853C116.476 146.438 114.645 142.484 112.795 139.714C115.145 141.023 118.782 142.942 121.421 143.977C125.505 145.579 124.563 148.518 119.221 145.847C117.022 144.778 117.022 148.251 121.421 150.12C125.819 151.99 133.988 151.723 136.816 145.312C139.644 138.902 143.1 139.703 140.901 145.847C138.701 151.99 134.302 158.668 130.847 160.805C129.172 161.84 126.761 162.123 124.291 162.412C121.662 162.721 118.966 163.037 117.022 164.277C114.13 166.121 113.318 167.621 113.255 168.212C112.761 168.133 112.276 168.041 111.798 167.936L110.901 167.721Z"
      fill="#7EAEFA"
    />
    <path
      opacity="0.5"
      d="M102.86 166.179C102.989 165.239 102.799 164.078 102.116 162.622C100.738 159.687 102.841 157.35 105.066 154.879C106.473 153.316 107.929 151.698 108.582 149.841C108.68 149.564 108.758 149.284 108.82 149.001L111.956 151.971C113.924 153.835 120.672 154.1 124.045 153.302C121.796 154.634 118.985 154.899 113.643 154.1C108.301 153.301 106.614 155.697 109.707 157.295C112.8 158.893 121.796 156.496 124.889 154.366C122.089 158.946 116.754 159.599 112.849 160.077C112.44 160.126 112.047 160.175 111.675 160.225C110.303 160.411 108.795 160.273 107.447 160.15C104.929 159.919 102.972 159.741 103.522 161.823C104.127 164.118 103.418 165.583 102.86 166.179Z"
      fill="#70A2F2"
    />
    <path
      d="M106.014 86.2986C107.753 80.0975 113.077 79.9729 115.522 80.6858C116.88 80.9409 115.794 77.7458 120.412 77.2113C125.031 76.6767 128.019 79.617 129.378 81.7553C130.736 83.8936 131.823 86.0319 133.996 87.9027C135.083 91.1101 138.614 94.5851 139.43 95.3867C139.43 96.1888 139.744 101.501 139.744 103.907C144.362 100.432 142.418 97.2579 143.505 94.3176C144.374 91.9655 143.686 90.4864 143.233 90.041C143.324 88.7935 143.396 85.9248 142.961 84.4282C142.418 82.557 140.516 82.2899 139.701 82.2899C140.244 80.9533 139.701 79.617 138.886 79.0821C138.071 78.5475 137.256 77.2113 136.169 75.073C135.083 72.9347 130.736 69.4599 128.834 68.658C126.933 67.8562 126.933 66.5198 126.389 65.9852C119.326 59.8376 113.077 62.5104 111.719 63.045C110.36 63.5796 109.546 63.045 109.002 62.7778C98.4069 56.3629 91.615 65.4507 89.7136 68.1235C78.3033 72.9347 74.2281 79.0825 75.0433 87.6356C75.8581 96.1888 73.4133 99.3962 71.5115 101.267C69.6096 103.138 70.1529 105.009 71.7829 107.148C74.7714 111.424 69.6096 111.959 67.7082 113.028C65.8063 114.097 67.1648 117.037 66.3497 118.374C65.5345 119.71 65.8063 122.383 67.9796 124.521C71.2396 118.374 80.4766 115.701 85.6384 114.632C90.8002 113.563 95.6902 106.346 99.4935 103.138C103.297 99.9308 103.841 94.0501 106.014 86.2986Z"
      fill="#2B2B39"
    />
    <path
      opacity="0.5"
      d="M98.8735 103.73C99.2946 97.2473 100.558 89.5153 103.186 83.6637C104.803 80.0642 106.92 77.215 109.637 75.7828C112.298 74.3801 115.588 74.3105 119.662 76.3317C119.61 76.7326 119.504 77.1123 119.361 77.467C119.557 77.4136 119.766 77.3663 119.992 77.3261C120.108 76.9714 120.19 76.5956 120.225 76.2012C120.346 74.8582 119.928 73.3317 118.568 71.7336C117.105 70.0156 115.602 68.6979 114.264 67.5251C113.853 67.1657 113.459 66.8198 113.086 66.4803C111.94 65.4376 110.995 64.4527 110.373 63.2995C110.108 63.2658 109.877 63.1927 109.672 63.1086C110.127 64.1072 110.795 64.9677 111.595 65.7952C110.293 65.2799 108.673 64.8088 106.933 64.5808C103.476 64.1279 99.4909 64.6296 96.5983 67.7179C93.5652 70.9566 91.0261 75.597 88.9754 80.3814C86.9223 85.1699 85.3496 90.1227 84.2566 94.0013C83.1723 97.848 81.3441 101.754 78.9148 104.791C77.1073 107.052 74.979 108.818 72.5883 109.735C72.5545 109.971 72.4793 110.186 72.3702 110.384C75.0518 109.472 77.3979 107.555 79.3447 105.121C81.8277 102.015 83.6834 98.0422 84.7824 94.1434C85.8722 90.2768 87.4381 85.3474 89.4785 80.588C91.5209 75.8238 94.0305 71.2501 97.0007 68.0788C99.379 65.5397 102.555 64.8358 105.561 64.9908C102.643 66.0893 97.708 68.9554 94.1141 74.4311C91.5599 78.322 90.0604 83.9829 88.5694 89.6105L88.4512 90.0571C86.9123 95.8609 85.3532 101.58 82.6576 105.405C80.5134 108.448 77.5165 110.311 74.6311 111.404C72.1907 112.328 69.8407 112.695 68.1768 112.761C67.9643 112.85 67.7692 112.941 67.6001 113.035C67.4986 113.092 67.4062 113.154 67.3222 113.221L67.3198 113.302C69.0382 113.347 71.8715 113.021 74.8277 111.902C77.7868 110.782 80.8848 108.862 83.1066 105.709C85.8687 101.789 87.4481 95.9664 88.9793 90.1912L89.0832 89.7991C90.5862 84.1266 92.0674 78.5373 94.5731 74.7197C98.651 68.5067 104.485 65.7385 106.913 65.1172C108.714 65.3587 110.379 65.8671 111.673 66.4047C108.372 66.5943 102.986 68.3517 100.637 74.4816C99.8352 76.5753 98.7577 80.0033 97.4915 84.0319L97.3956 84.3372C96.0864 88.5023 94.5782 93.2892 92.9598 97.9256C91.3405 102.563 89.6134 107.041 87.868 110.591C87.1034 112.146 86.3375 113.518 85.5785 114.645C85.5892 114.642 85.6 114.64 85.6111 114.638C85.8611 114.586 86.1107 114.52 86.3594 114.441C87.0286 113.392 87.6969 112.171 88.36 110.822C90.1194 107.244 91.8548 102.742 93.476 98.0983C95.0981 93.4532 96.6086 88.6587 97.9174 84.4944L98.0074 84.2078C99.2783 80.1637 100.352 76.7473 101.148 74.6691C103.683 68.0546 109.904 66.7599 112.785 66.9358C113.149 67.2654 113.528 67.5974 113.918 67.9392C115.251 69.1081 116.713 70.3906 118.148 72.0756C119.287 73.4125 119.697 74.66 119.699 75.753C115.598 73.7759 112.184 73.8336 109.378 75.3128C106.505 76.8269 104.324 79.8035 102.687 83.4484C99.9435 89.5547 98.6773 97.6462 98.2928 104.281C98.4886 104.09 98.6824 103.906 98.8735 103.73Z"
      fill="#1C1C2A"
    />
    <path
      opacity="0.5"
      d="M72.1967 107.982C75.3496 106.853 77.199 104.118 78.4317 100.773C79.1896 98.7161 79.7213 96.413 80.1823 94.0809C80.3658 93.1531 80.5377 92.2232 80.7081 91.3018C80.9676 89.8979 81.2236 88.5135 81.5117 87.1832C82.8603 80.9606 86.8841 72.7797 89.3596 68.3112C89.0833 68.4292 88.8119 68.548 88.5444 68.6676C86.0443 73.2617 82.2828 81.0522 80.978 87.0726C80.6886 88.4072 80.4295 89.8091 80.1683 91.2214C79.998 92.1416 79.8272 93.0663 79.6465 93.9794C79.1868 96.3048 78.661 98.5752 77.9182 100.592C76.701 103.895 74.9198 106.472 71.9265 107.508C72.0288 107.672 72.1187 107.83 72.1967 107.982Z"
      fill="#1C1C2A"
    />
    <path
      d="M139.453 96.1044C139.849 96.1355 140.249 96.1558 140.646 96.1669C141.45 96.1896 142.256 96.1745 143.029 96.1347C143.051 95.954 143.075 95.7744 143.105 95.5961C142.315 95.6391 141.487 95.6566 140.662 95.6335C140.248 95.622 139.838 95.6001 139.434 95.5671C139.437 95.7036 139.444 95.8855 139.453 96.1044Z"
      fill="#3A0A44"
    />
    <path
      d="M134.221 88.4972C137.737 90.2183 141.18 90.6112 143.456 90.5264C143.355 90.3353 143.246 90.1909 143.148 90.0945L143.151 90.0563L143.155 90.001C140.785 90.0444 137.214 89.5568 133.653 87.5988C133.764 87.7011 133.878 87.8026 133.994 87.9029C134.061 88.1003 134.137 88.2986 134.221 88.4972Z"
      fill="#3A0A44"
    />
    <path
      opacity="0.5"
      d="M115.601 69.1013C116.824 67.7241 120.624 65.6895 126.866 66.9272C126.965 67.1255 127.081 67.3373 127.235 67.5503C120.855 66.1376 117.104 68.2184 116.009 69.4528L115.601 69.1013Z"
      fill="#1C1C2A"
    />
    <path
      opacity="0.5"
      d="M137.681 82.3677C138.367 82.4939 139.06 82.3995 139.752 81.9824C139.72 82.1058 139.679 82.2304 139.628 82.3545C139.765 82.3545 139.933 82.3621 140.121 82.384C139.298 82.9078 138.444 83.0507 137.582 82.8923C136.369 82.6694 135.188 81.8574 134.093 80.8117C132.385 79.1809 130.8 76.8918 129.551 75.0883C129.199 74.5788 128.873 74.1083 128.579 73.7023C127.584 72.3297 125.912 72.0555 124.136 72.3231C122.365 72.5899 120.571 73.3874 119.463 74.043L119.184 73.5853C120.332 72.9062 122.193 72.0758 124.054 71.7954C125.91 71.5159 127.848 71.7755 129.019 73.3922C129.326 73.8157 129.661 74.2993 130.021 74.8184C131.268 76.6183 132.807 78.8402 134.47 80.428C135.54 81.4506 136.627 82.1734 137.681 82.3677Z"
      fill="#1C1C2A"
    />
    <path
      d="M119.749 69.9522C121.381 68.6967 125.464 67.2079 128.729 71.2975C131.995 75.3874 135.17 78.0244 136.35 78.8316M123.559 75.334C126.008 75.9617 131.288 78.0781 132.812 81.522C134.717 85.8268 138.255 88.5176 140.976 88.2485M138.799 90.9389C139.253 91.6566 140.541 92.8762 142.065 92.0152M118.388 64.5716C119.567 64.3923 122.252 64.195 123.559 64.8407"
      stroke="#151523"
      stroke-width="0.8"
    />
    <path
      d="M113.281 69.8364C109.666 69.7473 101.679 72.4029 98.6425 83.7381M97.8293 74.3813C95.7512 78.2129 91.2151 87.4809 89.6973 93.897C87.7995 101.917 86.4441 112.076 72.8904 114.215M75.6014 100.581C76.8664 98.6202 79.2336 93.5228 78.5832 88.8176C77.77 82.9361 78.8542 77.3221 83.7334 74.1139M105.962 63.1528C101.173 62.7964 91.0527 64.4361 88.8841 73.8464C86.7152 83.2569 82.0167 95.2336 79.9385 100.046"
      stroke="#151523"
      stroke-width="0.8"
    />
  </g>
  <path
    d="M242.489 453.301C242.489 505.097 284.478 547.086 336.273 547.086C388.07 547.086 430.061 505.097 430.061 453.301C430.061 401.504 388.07 359.515 336.273 359.515C284.478 359.515 242.489 401.504 242.489 453.301Z"
    fill="white"
  />
  <path
    d="M336.273 546.086C285.03 546.086 243.489 504.545 243.489 453.301C243.489 402.057 285.03 360.515 336.273 360.515C387.517 360.515 429.061 402.057 429.061 453.301C429.061 504.545 387.517 546.086 336.273 546.086Z"
    stroke="#2773D9"
    stroke-opacity="0.6"
    stroke-width="2"
  />
  <path
    d="M354.127 391.696C344.607 411.434 328.262 399.663 324.508 391.694C331.956 391.693 329.568 376.597 328.499 369.049H350.498C350.083 380.675 352.743 388.991 354.127 391.696Z"
    fill="#FCC4AC"
  />
  <path
    d="M354.127 391.696C344.607 411.434 328.262 399.663 324.508 391.694C331.956 391.693 329.568 376.597 328.499 369.049H350.498C350.083 380.675 352.743 388.991 354.127 391.696Z"
    fill="url(#paint1_linear_2_2)"
  />
  <path
    d="M304.07 401.418C303.957 433.686 295.144 519.024 293.837 532.305C293.148 539.331 310.295 545.472 329.497 546.845C354.442 548.63 375.307 540.217 379.809 536.381C381.05 498.028 383.016 414.309 383.016 407.195C373.685 400.546 360.322 394.323 354.127 391.697C341.833 399.315 333.042 396.713 327.269 390.818C318.592 392.439 308.121 398.948 304.07 401.418Z"
    fill="#307FE2"
  />
  <path
    d="M304.07 401.418C303.957 433.686 295.144 519.024 293.837 532.305C293.148 539.331 310.295 545.472 329.497 546.845C354.442 548.63 375.307 540.217 379.809 536.381C381.05 498.028 383.016 414.309 383.016 407.195C373.685 400.546 360.322 394.323 354.127 391.697C341.833 399.315 333.042 396.713 327.269 390.818C318.592 392.439 308.121 398.948 304.07 401.418Z"
    fill="url(#paint2_linear_2_2)"
  />
  <path
    d="M304.07 401.418C303.957 433.686 295.144 519.024 293.837 532.305C293.148 539.331 310.295 545.472 329.497 546.845C354.442 548.63 375.307 540.217 379.809 536.381C381.05 498.028 383.016 414.309 383.016 407.195C373.685 400.546 360.322 394.323 354.127 391.697C341.833 399.315 333.042 396.713 327.269 390.818C318.592 392.439 308.121 398.948 304.07 401.418Z"
    fill="#2773D9"
  />
  <path
    opacity="0.35"
    d="M326.044 391.075C326.193 391.04 326.341 391.008 326.484 390.975C327.321 396.351 328.147 403.563 328.432 410.999C328.788 420.35 328.283 430.087 325.83 436.971C322.807 445.477 322.807 455.806 323.567 465.422C323.888 469.533 324.351 473.507 324.779 477.149V477.149V477.163C324.85 477.773 324.922 478.374 324.987 478.964C325.462 483.077 325.848 486.698 325.848 489.493C325.848 490.1 325.848 490.694 325.848 491.279C325.872 496.043 325.89 500.171 324.565 505.061C323.086 510.551 319.921 516.99 313.221 526.398C312.39 527.577 312.194 529.24 312.473 531.204C312.746 533.162 313.482 535.383 314.468 537.64C315.579 540.191 316.998 542.774 318.4 545.057C318.204 545.017 318.002 544.978 317.806 544.938C316.464 542.729 315.122 540.261 314.058 537.819C313.067 535.544 312.312 533.281 312.027 531.266C311.748 529.256 311.926 527.454 312.853 526.139V526.138C319.54 516.752 322.67 510.363 324.132 504.943C325.438 500.116 325.42 496.049 325.403 491.281V491.279C325.403 490.695 325.397 490.101 325.397 489.493C325.397 486.729 325.017 483.134 324.541 479.015C324.476 478.423 324.405 477.82 324.334 477.207V477.202V477.201C323.906 473.561 323.443 469.577 323.116 465.457C322.356 455.831 322.356 445.421 325.409 436.821C327.826 430.021 328.337 420.357 327.98 411.016C327.701 403.612 326.882 396.43 326.044 391.075Z"
    fill="white"
  />
  <path
    opacity="0.35"
    d="M297.415 537.937C297.629 538.085 297.849 538.231 298.08 538.376C297.201 536.289 296.548 534.247 296.293 532.43C296.019 530.466 296.209 528.803 297.041 527.624C303.74 518.216 306.906 511.778 308.391 506.287C309.709 501.397 309.692 497.27 309.674 492.506V492.496C309.668 491.915 309.668 491.323 309.668 490.719C309.668 487.925 309.288 484.303 308.813 480.19C308.741 479.6 308.67 478.999 308.599 478.389V478.375V478.375C308.171 474.733 307.708 470.759 307.387 466.648C306.627 457.032 306.627 446.703 309.656 438.198C312.103 431.313 312.608 421.576 312.252 412.226C312.05 406.96 311.58 401.807 311.022 397.339C310.88 397.416 310.737 397.494 310.6 397.572C311.147 401.987 311.604 407.06 311.8 412.242C312.156 421.583 311.646 431.247 309.228 438.047C306.176 446.647 306.176 457.057 306.936 466.683C307.263 470.804 307.726 474.787 308.153 478.428V478.428V478.433C308.225 479.046 308.296 479.649 308.367 480.242C308.842 484.36 309.217 487.955 309.217 490.719C309.217 491.326 309.222 491.919 309.222 492.502V492.507C309.24 497.275 309.258 501.342 307.957 506.17C306.49 511.589 303.36 517.978 296.673 527.364V527.365C295.746 528.68 295.568 530.482 295.847 532.492C296.085 534.18 296.655 536.041 297.415 537.937Z"
    fill="white"
  />
  <path
    opacity="0.35"
    d="M334.567 547.444C333.444 545.522 332.351 543.448 331.454 541.391C330.462 539.117 329.708 536.854 329.429 534.838C329.144 532.828 329.322 531.027 330.249 529.712V529.711C336.936 520.325 340.072 513.935 341.533 508.517C342.834 503.688 342.816 499.621 342.798 494.853V494.851C342.798 494.267 342.792 493.674 342.792 493.066C342.792 490.302 342.418 486.707 341.943 482.588C341.872 481.994 341.801 481.389 341.729 480.775V480.775C341.308 477.134 340.838 473.15 340.518 469.03C339.758 459.403 339.752 448.993 342.81 440.394C345.228 433.594 345.732 423.93 345.382 414.589C345.121 407.813 344.414 401.223 343.654 396.048C343.802 396.02 343.951 395.991 344.093 395.96C344.853 401.152 345.572 407.768 345.827 414.572C346.184 423.923 345.679 433.66 343.232 440.544C340.209 449.049 340.203 459.379 340.963 468.994C341.29 473.106 341.753 477.08 342.175 480.72V480.721C342.246 481.336 342.317 481.942 342.389 482.537C342.864 486.65 343.244 490.271 343.244 493.066C343.244 493.672 343.244 494.267 343.25 494.852C343.268 499.616 343.285 503.744 341.967 508.634C340.482 514.124 337.322 520.563 330.617 529.97C329.785 531.149 329.595 532.813 329.868 534.776C330.148 536.735 330.884 538.956 331.864 541.213C332.797 543.352 333.949 545.514 335.119 547.502C334.935 547.483 334.751 547.464 334.567 547.444Z"
    fill="white"
  />
  <path
    opacity="0.35"
    d="M353.145 548.616C351.779 546.38 350.412 543.872 349.332 541.391C348.34 539.116 347.585 536.853 347.3 534.838C347.021 532.828 347.199 531.026 348.126 529.711V529.711C354.814 520.324 357.944 513.935 359.411 508.516C360.711 503.688 360.693 499.621 360.676 494.853C360.676 494.268 360.67 493.674 360.67 493.066C360.67 490.301 360.296 486.706 359.82 482.588C359.749 481.994 359.678 481.389 359.607 480.775V480.774C359.185 477.133 358.716 473.15 358.395 469.03C357.629 459.403 357.629 448.993 360.688 440.393C363.105 433.594 363.61 423.929 363.259 414.589C362.98 407.329 362.184 400.283 361.371 394.962C361.531 395.039 361.691 395.117 361.858 395.195C362.659 400.495 363.431 407.429 363.705 414.571C364.061 423.923 363.556 433.659 361.109 440.543C358.086 449.049 358.08 459.378 358.84 468.994C359.167 473.106 359.63 477.08 360.052 480.721V480.729C360.123 481.341 360.195 481.944 360.266 482.536C360.741 486.649 361.121 490.271 361.121 493.066C361.121 493.672 361.121 494.266 361.127 494.85V494.852C361.145 499.616 361.163 503.743 359.844 508.633C358.359 514.123 355.2 520.563 348.494 529.97C347.663 531.149 347.472 532.812 347.746 534.776C348.025 536.735 348.761 538.955 349.741 541.212C350.852 543.761 352.271 546.343 353.673 548.624C353.495 548.621 353.323 548.619 353.145 548.616Z"
    fill="white"
  />
  <path
    opacity="0.35"
    d="M371.284 547.718C370.108 545.719 368.95 543.545 368.012 541.391C367.02 539.116 366.266 536.853 365.987 534.838C365.701 532.828 365.886 531.026 366.806 529.711L366.812 529.711C373.5 520.324 376.63 513.935 378.091 508.516C379.392 503.688 379.38 499.621 379.362 494.853C379.356 494.268 379.356 493.674 379.356 493.066C379.356 490.301 378.976 486.706 378.501 482.588C378.429 481.995 378.364 481.391 378.293 480.778V480.775C377.865 477.133 377.402 473.15 377.075 469.03C376.315 459.403 376.309 448.993 379.368 440.393C381.785 433.594 382.296 423.929 381.94 414.589C381.827 411.682 381.637 408.81 381.387 406.069C381.553 406.177 381.708 406.286 381.868 406.395C382.1 409.032 382.284 411.786 382.385 414.571C382.741 423.923 382.237 433.659 379.79 440.543C376.766 449.049 376.76 459.378 377.521 468.994C377.847 473.106 378.311 477.08 378.738 480.721C378.81 481.336 378.875 481.941 378.946 482.536C379.421 486.649 379.801 490.27 379.801 493.066C379.801 493.672 379.807 494.266 379.807 494.851C379.825 499.616 379.843 503.743 378.524 508.633C377.04 514.123 373.88 520.563 367.174 529.97C366.349 531.149 366.153 532.812 366.432 534.776C366.705 536.734 367.442 538.955 368.428 541.212C369.378 543.401 370.56 545.615 371.76 547.641C371.605 547.667 371.445 547.693 371.284 547.718Z"
    fill="white"
  />
  <path
    d="M315.159 337.315C314.862 344.075 315.159 360.593 315.159 372.692C315.159 393.144 345.812 377.286 350.498 369.048C359.728 352.823 349.524 338.191 347.576 337.315H315.159Z"
    fill="url(#paint3_linear_2_2)"
  />
  <path
    d="M315.159 337.315C314.862 344.075 315.159 360.593 315.159 372.692C315.159 393.144 345.812 377.286 350.498 369.048C359.728 352.823 349.524 338.191 347.576 337.315H315.159Z"
    fill="#FCC4AC"
  />
  <path
    d="M350.985 331.353C357.684 330.081 356.704 335.506 356.318 336.389C372.325 340.799 352.867 373.132 350.48 373.805L350.462 367.772C350.438 365.367 355.142 362.917 352.57 358.692C349.155 353.083 348.413 364.105 348.413 364.105C345.99 362.829 345.111 353.682 347.367 348.507C339.444 352.002 334.248 345.491 333.244 343.631C327.655 346.88 319.09 345.575 316.334 342.899C315.895 344.392 315.022 347.17 315.022 352.036C308.631 348.595 305.335 335.891 308.714 337.05C308.281 311.752 330.607 320.848 333.244 323.854C335.875 326.861 336.499 326.019 336.843 325.794C346.251 321.201 350.824 325.752 349.945 328.652C349.06 331.551 350.723 331.412 350.985 331.353Z"
    fill="#6E000E"
  />
  <path
    d="M218.676 444.481C213.887 444.906 209.726 442.048 210.658 441.725C223.119 437.401 239.872 442.787 249.556 445.758C252.955 452.626 247.314 460.238 244.069 463.185C242.434 461.534 239.051 459.398 236.833 459.398C225.561 458.778 214.712 474.952 203.688 466.901C194.869 460.46 210.006 449.27 218.676 444.481Z"
    fill="#F4B88E"
  />
  <path
    d="M218.676 444.481C213.887 444.906 209.726 442.048 210.658 441.725C223.119 437.401 239.872 442.787 249.556 445.758C252.955 452.626 247.314 460.238 244.069 463.185C242.434 461.534 239.051 459.398 236.833 459.398C225.561 458.778 214.712 474.952 203.688 466.901C194.869 460.46 210.006 449.27 218.676 444.481Z"
    fill="#FCC4AC"
  />
  <path
    d="M304.069 401.413C305.239 423.048 301.693 460.312 298.997 479.274C296.146 486.42 235.471 464.17 237.083 459.868C238.696 455.566 242.734 449.261 244.728 444.197C246.096 440.723 281.019 457.09 282.31 451.219C283.602 445.348 284.596 412.355 304.069 401.413Z"
    fill="#307FE2"
  />
  <path
    d="M304.069 401.413C305.239 423.048 301.693 460.312 298.997 479.274C296.146 486.42 235.471 464.17 237.083 459.868C238.696 455.566 242.734 449.261 244.728 444.197C246.096 440.723 281.019 457.09 282.31 451.219C283.602 445.348 284.596 412.355 304.069 401.413Z"
    fill="url(#paint4_linear_2_2)"
  />
  <path
    d="M304.069 401.413C305.239 423.048 301.693 460.312 298.997 479.274C296.146 486.42 235.471 464.17 237.083 459.868C238.696 455.566 242.734 449.261 244.728 444.197C246.096 440.723 281.019 457.09 282.31 451.219C283.602 445.348 284.596 412.355 304.069 401.413Z"
    fill="#2773D9"
  />
  <path
    opacity="0.35"
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M301.167 403.07C296.789 414.859 295.572 431.801 297.55 444.649C298.536 451.058 299.064 456.686 298.215 461.294C297.371 465.885 295.162 469.456 290.658 471.774C288.99 472.633 287.448 472.526 285.823 471.933C284.614 471.492 283.381 470.79 282.025 470.019C281.537 469.741 281.032 469.454 280.507 469.167C276.561 467.009 271.62 464.951 264.243 467.221C258.493 468.991 252.784 467.15 248.233 464.29C243.676 461.426 240.328 457.57 239.301 455.394L238.895 455.586C239.968 457.861 243.388 461.775 247.994 464.67C252.604 467.567 258.452 469.473 264.375 467.651C271.589 465.431 276.398 467.432 280.291 469.561C280.797 469.837 281.291 470.118 281.773 470.392C283.14 471.17 284.423 471.899 285.669 472.355C287.376 472.978 289.055 473.105 290.864 472.173C295.512 469.782 297.793 466.082 298.654 461.375C299.522 456.685 298.975 450.99 297.989 444.581C296.023 431.796 297.241 414.933 301.588 403.226L301.167 403.07ZM291.863 416.146C292.006 415.388 292.138 414.689 292.252 414.061L291.811 413.98C291.697 414.605 291.566 415.301 291.423 416.059C290.651 420.151 289.544 426.02 288.963 432.024C288.275 439.127 288.317 446.477 290.557 451.314C293.19 456.996 292.125 460.924 289.752 462.863C287.363 464.815 283.56 464.832 280.535 462.513C278.898 461.258 276.298 459.722 272.919 459.268C269.535 458.814 265.392 459.448 260.68 462.503C259.476 463.284 257.58 463.419 255.415 463C253.261 462.583 250.884 461.625 248.754 460.282C246.624 458.938 244.756 457.216 243.605 455.282C242.456 453.352 242.025 451.217 242.744 449.02L242.317 448.88C241.549 451.226 242.019 453.495 243.22 455.512C244.417 457.524 246.344 459.292 248.515 460.661C250.687 462.031 253.115 463.012 255.33 463.441C257.535 463.867 259.574 463.756 260.924 462.88C265.552 459.879 269.588 459.273 272.859 459.713C276.135 460.153 278.664 461.644 280.262 462.87C283.426 465.295 287.462 465.313 290.036 463.21C292.625 461.095 293.647 456.915 290.965 451.125C288.78 446.409 288.723 439.17 289.41 432.067C289.989 426.085 291.091 420.239 291.863 416.146Z"
    fill="white"
  />
  <path
    d="M244.728 444.197C242.734 449.262 238.696 455.566 237.083 459.868C236.807 460.605 238.358 461.868 241.132 463.42C245.586 460.122 249.437 449.501 250.805 444.603C247.42 443.687 245.064 443.345 244.728 444.197Z"
    fill="#105CC1"
  />
  <path
    d="M369.989 549.889C372.103 548.908 379.237 534.698 383.014 524.816L374.45 517.952C362.405 521.995 357.415 534.047 360.439 533.551C363.462 533.054 363.741 534.688 361.139 538.118C351.144 551.276 367.079 551.243 369.989 549.889Z"
    fill="#FCC4AC"
  />
  <path
    d="M408.303 476.191C413.631 458.628 396.312 417.833 383.014 407.195C383.014 411.539 382.182 431.639 381.731 458.326C389.363 472.001 370.547 513.601 368.789 517.11C367.025 520.619 382.396 533.735 384.908 528.66C387.421 523.584 402.311 495.939 408.303 476.191Z"
    fill="#307FE2"
  />
  <path
    d="M408.303 476.191C413.631 458.628 396.312 417.833 383.014 407.195C383.014 411.539 382.182 431.639 381.731 458.326C389.363 472.001 370.547 513.601 368.789 517.11C367.025 520.619 382.396 533.735 384.908 528.66C387.421 523.584 402.311 495.939 408.303 476.191Z"
    fill="url(#paint5_linear_2_2)"
  />
  <path
    d="M408.303 476.191C413.631 458.628 396.312 417.833 383.014 407.195C383.014 411.539 382.182 431.639 381.731 458.326C389.363 472.001 370.547 513.601 368.789 517.11C367.025 520.619 382.396 533.735 384.908 528.66C387.421 523.584 402.311 495.939 408.303 476.191Z"
    fill="#2773D9"
  />
  <path
    opacity="0.35"
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M384.906 418.841C384.187 417.952 383.528 417.137 382.958 416.41L382.601 416.687C383.177 417.422 383.848 418.244 384.573 419.139C386.907 422.019 389.859 425.654 392.353 429.586C395.632 434.746 398.091 440.359 397.402 445.387C396.951 448.632 397.657 452.02 398.81 455.401C399.605 457.745 400.615 460.103 401.607 462.419C402.047 463.441 402.486 464.455 402.896 465.455C404.244 468.735 405.337 471.875 405.515 474.763C405.687 477.638 404.951 480.258 402.629 482.518C398.162 486.876 397.242 490.819 396.357 494.583C396.244 495.074 396.131 495.562 396.006 496.048C395.484 498.147 394.83 500.199 393.423 502.275C392.015 504.35 389.847 506.463 386.278 508.665C384.888 509.521 383.629 511.132 382.554 513.056C381.473 514.985 380.558 517.254 379.875 519.455C379.186 521.655 378.723 523.796 378.545 525.472C378.455 526.309 378.432 527.039 378.497 527.606C378.515 527.784 378.545 527.95 378.586 528.099C376.977 527.184 375.284 525.929 373.769 524.574C372.95 520.855 373.324 516.392 374.732 512.467C376.145 508.513 378.58 505.141 381.829 503.603C384.846 502.177 386.438 500.381 387.293 498.336C388.137 496.306 388.244 494.049 388.321 491.731C388.327 491.636 388.327 491.542 388.333 491.447C388.404 489.206 388.481 486.903 389.17 484.616C389.883 482.242 391.255 479.879 393.981 477.642C396.689 475.424 397.604 473.174 397.432 470.889C397.271 468.63 396.048 466.378 394.599 464.142C394.141 463.436 393.66 462.733 393.185 462.029C392.134 460.486 391.077 458.941 390.263 457.374C389.075 455.101 388.422 452.832 388.998 450.535C391.938 438.815 384.799 431.248 382.554 429.161L382.245 429.491C384.46 431.546 391.439 438.952 388.558 450.426C387.947 452.879 388.659 455.268 389.865 457.582C390.691 459.173 391.771 460.754 392.829 462.309C393.31 463.007 393.779 463.7 394.224 464.386C395.674 466.62 396.832 468.788 396.986 470.922C397.141 473.032 396.321 475.149 393.702 477.295C390.898 479.589 389.479 482.029 388.742 484.488C388.036 486.831 387.958 489.187 387.881 491.416C387.881 491.516 387.875 491.616 387.875 491.716C387.792 494.045 387.685 496.221 386.877 498.164C386.076 500.093 384.567 501.812 381.639 503.198C378.242 504.805 375.741 508.299 374.31 512.316C372.873 516.335 372.48 520.916 373.348 524.743L373.365 524.813L373.419 524.861C375.177 526.441 377.184 527.897 379.038 528.859L379.275 528.477C379.21 528.433 379.138 528.344 379.079 528.184C379.02 528.026 378.972 527.817 378.943 527.556C378.883 527.035 378.901 526.341 378.99 525.52C379.162 523.88 379.62 521.768 380.303 519.589C380.98 517.409 381.882 515.171 382.946 513.276C384.009 511.374 385.22 509.843 386.515 509.047C390.12 506.82 392.342 504.666 393.797 502.526C395.246 500.387 395.917 498.276 396.446 496.157C396.564 495.666 396.683 495.175 396.796 494.682C397.675 490.929 398.572 487.103 402.943 482.839C405.373 480.473 406.139 477.719 405.961 474.736C405.782 471.767 404.66 468.567 403.312 465.285C402.896 464.27 402.456 463.249 402.011 462.222C401.025 459.915 400.021 457.584 399.231 455.257C398.091 451.901 397.408 448.592 397.842 445.448C398.56 440.251 396.018 434.519 392.734 429.346C390.221 425.388 387.246 421.723 384.906 418.841Z"
    fill="white"
  />
  <path
    d="M377.188 496.336C381.916 482.689 386.044 466.052 381.732 458.327C393.314 466.447 384.517 484.616 377.188 496.336Z"
    fill="#105CC1"
  />
  <path
    d="M368.789 517.11C367.025 520.62 382.396 533.735 384.908 528.66C385.104 528.269 385.372 527.744 385.698 527.099C382.016 526.276 373.725 522.612 369.983 514.534C369.407 515.821 368.985 516.712 368.789 517.11Z"
    fill="#307FE2"
  />
  <path
    d="M368.789 517.11C367.025 520.62 382.396 533.735 384.908 528.66C385.104 528.269 385.372 527.744 385.698 527.099C382.016 526.276 373.725 522.612 369.983 514.534C369.407 515.821 368.985 516.712 368.789 517.11Z"
    fill="url(#paint6_linear_2_2)"
  />
  <path
    d="M368.789 517.11C367.025 520.62 382.396 533.735 384.908 528.66C385.104 528.269 385.372 527.744 385.698 527.099C382.016 526.276 373.725 522.612 369.983 514.534C369.407 515.821 368.985 516.712 368.789 517.11Z"
    fill="#105CC1"
  />
  <g class="dialog">
    <path
      d="M384.001 83H307.147C303.752 83 301 85.7517 301 89.1466V106.569C301 109.963 303.752 112.716 307.147 112.716H369.778L388.95 118.947L383.677 112.716H384.001C387.395 112.716 390.148 109.963 390.148 106.569V89.1466C390.148 85.7517 387.395 83 384.001 83Z"
      fill="#FFBE56"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M321.61 100.254C323.198 100.254 324.485 98.9668 324.485 97.3787C324.485 95.7905 323.198 94.5028 321.61 94.5028C320.021 94.5028 318.734 95.7905 318.734 97.3787C318.734 98.9668 320.021 100.254 321.61 100.254ZM337.905 100.254C339.493 100.254 340.781 98.9668 340.781 97.3787C340.781 95.7905 339.493 94.5028 337.905 94.5028C336.317 94.5028 335.029 95.7905 335.029 97.3787C335.029 98.9668 336.317 100.254 337.905 100.254ZM356.598 97.3787C356.598 98.9668 355.31 100.254 353.722 100.254C352.134 100.254 350.846 98.9668 350.846 97.3787C350.846 95.7905 352.134 94.5028 353.722 94.5028C355.31 94.5028 356.598 95.7905 356.598 97.3787ZM369.538 100.254C371.126 100.254 372.414 98.9668 372.414 97.3787C372.414 95.7905 371.126 94.5028 369.538 94.5028C367.95 94.5028 366.662 95.7905 366.662 97.3787C366.662 98.9668 367.95 100.254 369.538 100.254Z"
      fill="white"
    />
  </g>
  <g class="dialog">
    <path
      d="M259.638 355.029H182.784C179.389 355.029 176.637 357.781 176.637 361.175V378.598C176.637 381.992 179.389 384.745 182.784 384.745H245.415L264.586 390.976L259.314 384.745H259.638C263.032 384.745 265.784 381.992 265.784 378.598V361.175C265.784 357.781 263.032 355.029 259.638 355.029Z"
      fill="#8BBAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M197.246 372.283C198.834 372.283 200.122 370.996 200.122 369.408C200.122 367.819 198.834 366.532 197.246 366.532C195.658 366.532 194.371 367.819 194.371 369.408C194.371 370.996 195.658 372.283 197.246 372.283ZM213.542 372.283C215.13 372.283 216.418 370.996 216.418 369.408C216.418 367.819 215.13 366.532 213.542 366.532C211.954 366.532 210.666 367.819 210.666 369.408C210.666 370.996 211.954 372.283 213.542 372.283ZM232.234 369.408C232.234 370.996 230.947 372.283 229.358 372.283C227.77 372.283 226.483 370.996 226.483 369.408C226.483 367.819 227.77 366.532 229.358 366.532C230.947 366.532 232.234 367.819 232.234 369.408ZM245.175 372.283C246.763 372.283 248.051 370.996 248.051 369.408C248.051 367.819 246.763 366.532 245.175 366.532C243.587 366.532 242.299 367.819 242.299 369.408C242.299 370.996 243.587 372.283 245.175 372.283Z"
      fill="white"
    />
  </g>
  <g class="dialog left">
    <path
      d="M169.173 28H258.854C262.816 28 266.028 31.211 266.028 35.1726V55.5031C266.028 59.464 262.816 62.6756 258.854 62.6756H185.769L163.398 69.9466L169.55 62.6756H169.173C165.212 62.6756 162 59.464 162 55.5031V35.1726C162 31.211 165.212 28 169.173 28Z"
      fill="#8BBAFA"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M241.978 48.1345C240.125 48.1345 238.622 46.632 238.622 44.7787C238.622 42.9254 240.125 41.4229 241.978 41.4229C243.831 41.4229 245.333 42.9254 245.333 44.7787C245.333 46.632 243.831 48.1345 241.978 48.1345ZM222.962 48.1345C221.109 48.1345 219.607 46.632 219.607 44.7787C219.607 42.9254 221.109 41.4229 222.962 41.4229C224.816 41.4229 226.318 42.9254 226.318 44.7787C226.318 46.632 224.816 48.1345 222.962 48.1345ZM201.15 44.7787C201.15 46.632 202.653 48.1345 204.506 48.1345C206.359 48.1345 207.862 46.632 207.862 44.7787C207.862 42.9254 206.359 41.4229 204.506 41.4229C202.653 41.4229 201.15 42.9254 201.15 44.7787ZM186.05 48.1345C184.196 48.1345 182.694 46.632 182.694 44.7787C182.694 42.9254 184.196 41.4229 186.05 41.4229C187.903 41.4229 189.405 42.9254 189.405 44.7787C189.405 46.632 187.903 48.1345 186.05 48.1345Z"
      fill="white"
    />
  </g>
  <defs>
    <filter
      id="filter0_d_2_2"
      x="-47"
      y="0.363037"
      width="311.318"
      height="311.318"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset dy="-17" />
      <feGaussianBlur stdDeviation="29" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0.696557 0 0 0 0 0.836898 0 0 0 0 0.818186 0 0 0 0.05 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_2_2"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_2_2"
        result="shape"
      />
    </filter>
    <linearGradient
      id="paint0_linear_2_2"
      x1="497.728"
      y1="99.351"
      x2="501.601"
      y2="123.236"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F4AF8A" />
      <stop offset="1" stop-color="#F9C0A1" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint1_linear_2_2"
      x1="333.268"
      y1="385.784"
      x2="342.961"
      y2="390.735"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F3AD8F" />
      <stop offset="1" stop-color="#FCC4AC" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint2_linear_2_2"
      x1="368.613"
      y1="515.447"
      x2="344.369"
      y2="503.047"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#026CF0" />
      <stop offset="1" stop-color="#307FE2" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint3_linear_2_2"
      x1="312.041"
      y1="364.947"
      x2="331.136"
      y2="367.083"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#FEA568" />
      <stop offset="1" stop-color="#F4B88E" />
    </linearGradient>
    <linearGradient
      id="paint4_linear_2_2"
      x1="276.668"
      y1="479.379"
      x2="277.922"
      y2="468.993"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#0154F7" />
      <stop offset="1" stop-color="#307FE2" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint5_linear_2_2"
      x1="407.317"
      y1="479.785"
      x2="398.67"
      y2="476.135"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#0071FF" />
      <stop offset="1" stop-color="#307FE2" stop-opacity="0" />
    </linearGradient>
    <linearGradient
      id="paint6_linear_2_2"
      x1="407.317"
      y1="479.786"
      x2="398.67"
      y2="476.135"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#0071FF" />
      <stop offset="1" stop-color="#307FE2" stop-opacity="0" />
    </linearGradient>
  </defs>
</svg>
