<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel"
>
  <div class="offcanvas-header">
    <h5 class="visually-hidden" id="offcanvasNavbarLabel">Offcanvas Menu</h5>
    <button
      type="button"
      class="btn-close rounded-circle"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Community
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Friends & Family</a></li>
          <li><a class="dropdown-item" href="#">Countries</a></li>
          <li><a class="dropdown-item" href="#">Planets</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
    </ul>
  </div>
  <div class="offcanvas-footer d-flex gap-2">
    <button class="btn btn-primary btn-sm btn-with-icon shadow">
      <i class="bi bi-door-open-fill"></i> Log in
    </button>
    <button class="btn btn-outline-primary btn-sm px-4" aria-label="Search">
      <i class="bi bi-search"></i>
    </button>
  </div>
</div>
