<nav class="navbar navbar-expand-lg w-100">
  <div class="container navbar__container container-padding">
    <div class="navbar__left">
      <a class="navbar__brand" href="#" role="button">
        <div class="logo logo--dark"><%= require("./logo.ejs")() %></div>
      </a>
      <div class="collapse navbar-collapse ms-5" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              href="#"
            >
              Community
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
              role="menu"
            >
              <li>
                <a class="dropdown-item" href="#">Friends & Family</a>
              </li>
              <li><a class="dropdown-item" href="#">Countries</a></li>
              <li>
                <a class="dropdown-item" href="#">Planets</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar__right d-none d-lg-flex">
      <%= require("./search-input-field.ejs")() %>
      <a href="#" class="btn btn-primary shadow btn-with-icon">
        <i class="bi bi-door-open-fill"></i> Log in
      </a>
    </div>
    <button
      class="navbar-toggler rounded-circle"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>
  </div>
</nav>
