<form role="search">
  <div class="input-group input-group-filled">
    <span class="input-group-text" id="search-input">
      <i class="bi-search"></i>
    </span>
    <input
      type="text"
      class="form-control text-filled"
      placeholder="Search Here..."
      aria-label="SearchHere"
      aria-describedby="search-input"
    />
  </div>
</form>
