<ul
  id="member-tab-menu"
  class="tab-container nav nav-pills d-inline-flex gap-2"
>
  <li class="nav-item">
    <a class="nav-link" href="#" data-tag="newest">Newest</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-tag="popular">Popular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" data-tag="active"
      >Active</a
    >
  </li>
</ul>
