:root{
  --bs-nav-link-font-size: 0.95rem;
  // --link-color: rgba(101, 100, 100, 1);
}

body {
  @include font-inter(400);
  font-size: $font-size-body;
}

section{
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.logo{
  width:100%;
  max-width: 144px;
  height:auto;
}

.pointer-events-none{
  pointer-events: none;
}

.sub-heading{
  font-size:1.125rem;
}

.section-text{
  line-height: $text-line-height;
}

.lead{
  color:$secondary;
  line-height: 1.8;
}

.text-max-width{
  max-width: 32.5rem;
}

.link-dark{
  color: $link-secondary-color;
}