@include media-breakpoint-up(md) {
  .container-padding {
    padding-left: $container-padding-x * 2;
    padding-right: $container-padding-x * 2;
  }
}

@include media-breakpoint-down(md) {
  .container-padding {
    padding-left: $container-padding-x * 0.5;
    padding-right: $container-padding-x * 0.5;
  }

  .padding-top-spacer {
    padding-top: $header-height-md * 0.5;
  }
}
