@include media-breakpoint-up(xl) {
  // Container padding applied on xl screen size only
  // Applied Element: Footer container
  .container-padding--xl {
    padding-left: $container-padding-x * 2;
    padding-right: $container-padding-x * 2;
  }
}

@include media-breakpoint-up(md) {
  .container-padding {
    padding-left: $container-padding-x * 2;
    padding-right: $container-padding-x * 2;
  }
}

@include media-breakpoint-down(md) {
  .container-padding {
    padding-left: $container-padding-x * 0.5;
    padding-right: $container-padding-x * 0.5;
  }

  .padding-top-spacer {
    padding-top: $header-height-md *.75 !important;
  }
}

@include media-breakpoint-down(sm) {
  section{  
    padding-top: $section-padding * .5;
    padding-bottom: $section-padding * .5;
  }
  .display-1 {
    font-size: 2rem;
  }
  .display-2{
    font-size: 1.6rem;
  }
  .padding-top-spacer {
    padding-top: $header-height-md * 0.15;
  }
  .lead {
    font-size: $base-font-size;
    line-height: 1.5;
  }
}
