body,a {
  @include font-inter(400);
  font-size: $font-size-body;
}

// Layout
.logo {
  width: 100%;
  max-width: 144px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

section{
  max-width: 100vw;
  overflow-x: hidden;

  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.section-text{
  line-height: $text-line-height;
}

.text-max-width{
  max-width: 32.5rem;
}

.padding-top-spacer {
  padding-top: $header-height;
}

.visually-hidden-focusable{
  padding:$spacer;
  z-index:200;
}

// Typography
.sub-heading{
  font-size:1.125rem;
}

.lead{
  color:$secondary;
  line-height: 1.8;
}

// Utlity Classes
.pointer-events-none{
  pointer-events: none;
}