// Index
// 1. Base Variables
// 2. Colors
// 3. Typography
// 4. Buttons
// 5. Form Elements
// 6. Layout and Grid System
// 7. Components
//    7.1 Header
//    7.2 Footer
//    7.3 Cards

// 1. Base Variables
$spacer: 1rem;
$border-radius: 0.95rem;

// 2. Colors
// 2.1 Base Colors
$primary: hsl(214, 91%, 50%);
$primary-darken: hsl(214, 91%, 40%);
$secondary: rgba(101, 100, 100, 1);
$background-color: rgb(255, 255, 255);
// 2.2 Links & Typography Colors
$link-primary-color: rgb(88, 88, 116);
$link-secondary-color: rgba(47, 44, 74, 1);
$headings-color: rgba(10, 9, 61, 1);
// 2.3 Buttons Colors
$btn-color: rgb(255, 255, 255);
// 2.4 UI Colors
$border-color: rgb(229, 229, 229);
$input-border-color: $border-color;
$card-border-color: rgb(240, 240, 240);
$placeholder-primary-color: rgb(110, 110, 145);
$icon-primary-color: rgb(168, 168, 189);
$footer-background-color: rgba(43, 43, 57, 1);

// 3. Typography
$base-font-size: 16px;
$font-size-body: $base-font-size;
$nav-link-font-size: 0.95rem;
$text-line-height: 1.8;
$font-family-stack: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
$display-font-sizes: (
  1: 3.5rem,
  2: 2.5rem
);
$display-font-weight: 700;
$lead-font-size: 1.125rem;
$lead-font-weight: 400;
$placeholder-font-size: 0.8rem;

// 4. Buttons
$btn-font-weight: 500;
$btn-font-size: 0.8rem;
$btn-font-family: $font-family-stack;
$btn-padding-y: 1.1rem;
$btn-padding-x: 2.5rem;
$btn-box-shadow: 0px 7px 22px 0 rgba(33, 123, 244, 0.34);
$btn-border-radius: $border-radius;

// 5. Form Elements
$input-filled-border: 1px solid $input-border-color;

// 6. Layout and Grid System
$container-width: 1200px;
$container-padding: 2rem;
$grid-gutter-width: 1.5rem;
$section-padding: 5rem;
$section-margin: 5rem;
$gap: 1rem;

// 7. Components
// 7.1 Header
$header-blur: 12px;
$header-height: 90px;
$header-height-md: 60px;
$header-background-color: $background-color;

// 7.2 Footer
$footer-height: 172px;
$social-padding-gap: 0.25rem;

// 7.3 Cards
$card-spacer-y: $spacer * 3;
$card-spacer-x: $spacer * 3;
$card-border-radius: $border-radius;

// Shadows
$box-shadow: 0 1rem 3rem rgba(36, 98, 160, 0.14);
$box-shadow-lg: 0 1rem 3rem rgba(146, 165, 184, 0.14);
